In [1]:
l = ['a', 'b', 'c']

In [2]:
"***".join(l)

'a***b***c'

In [3]:
l1 = [1,2]
l2 = [4,6]

for (x,y) in zip(l1,l2):
    print(x*y, end= " ")

4 12

In [5]:
l = ['12','34','5']

In [10]:
t = tuple(map(list,(list(set(l)))))

In [14]:
sorted(t, key=lambda q : (q[-1]))

[['1', '2'], ['3', '4'], ['5']]

In [15]:
l = [1,2,3,4,5,6,7,8,9]

In [17]:
l = l[::-4]

In [19]:
l = l[-5-5:3]

In [21]:
l = l[0:-1+2]

In [22]:
l[-2::]

[9]

In [23]:
l = [2,]*3

In [24]:
l

[2, 2, 2]

In [25]:
l

[2, 2, 2]

In [26]:
del l

In [27]:
l

NameError: name 'l' is not defined

In [29]:
def numbers(n):
    for i in n:
        yield (i**2)
        
c = numbers([2,6,1,9,5])

In [32]:
print(list(sorted(c)))

[]

In [35]:
a = 0+ True*True
b = 0+ True* False


c = ((1+0)*(b-a))**11

In [36]:
type(c)

int

In [38]:
(0.31-.395)/.035

-2.428571428571429

In [1]:
x = 'cat'
def f():
    x = 'bird'
    def g():
        x = 'dog'
        y = 'fish'
        print(x)
    g()
f()

dog

In [3]:
mat = [[1,2,3],
[4,5,6],
[7,8,9]
]

In [ ]:
[rfor row in mat]

In [4]:
l = [1,2]

In [5]:
len(l)

2

In [6]:
l2 = [1,2,3]

In [9]:
tuple(zip(l,l2))

((1, 1), (2, 2))

In [10]:
from urllib.request import urlopen

ex = "python 4.0"

with urlopen("https://www.python.org/downloads/")

AttributeError: 'function' object has no attribute 'get'

In [11]:
A = "abc".join('def')

In [12]:
A

'dabceabcf'

In [17]:
C = "abc"+R"def"

In [18]:
C

'abcdef'

In [15]:
D = "abc" \
"def"

In [16]:
D

'abcdef'

In [21]:
e = enumerate('python')

In [25]:
str(type(e)) == "<class 'python'>"
isinstance(e,Enum)

NameError: name 'Enum' is not defined

In [26]:
list(enumerate('python'))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [27]:
def d():
    __doc__ = "dfghjdfghjkfghj.\nsdfghjdfghj"
    pass

In [28]:
"I need %s, %s, and %s."%("b","m", "c")

'I need b, m, and c.'

In [29]:
v = [" i need", "bread", "milk", "and", "cheese"]

In [30]:
" ".join(v)

' i need bread milk and cheese'

In [31]:
class square:
    def __init__(self,side):
        self.side = side
        
    def area(self):
        return self.side**2
    
class cube(square):
    def sur_area(self):
        area = super().area()
        return 6* area

In [33]:
cube(6).sur_area()

216

In [34]:
cube().sur_area(6)

TypeError: __init__() missing 1 required positional argument: 'side'

In [2]:
sorted(["1","2","15","-7","300"])

['-7', '1', '15', '2', '300']

In [3]:
f = lambda n: 1 if n<=1 else n*f(n-1)

In [4]:
f(4)

24

In [9]:
def b(sequence_list):
    root = {}
    for sequemce in sequence_list:
        base = root
        for word in Fistname.split(" "):
            if not base.get(word):
                base[word] = {}
            base = base[word]
    return root

In [10]:
tree = b(["hello world", "Hello there"])

NameError: name 'Fistname' is not defined

In [11]:
def has_pos_neg(nums):
    has_pos = False
    has_neg = False
    for num in nums:
        has_pos = num>0
        has_neg = num<0
    return (has_pos,has_neg)

In [15]:
has_pos_neg([0,1,2])

(True, False)

In [18]:
def d(items):
    i = 0
    while i< len(items):
        if len(items[i]) == 0:
            del items[i]
        i+=1

In [22]:
d(names)

In [21]:
names = ["rachel", " ", "meghana", " ", " ", "tim"];

In [1]:
def func(a,b):
    a+=1
    b.append(1)
    
a,b = 0, []

In [2]:
func(a,b)
print(a,b)

0 [1]

In [2]:
n = 1234

In [6]:
digits = [int(i)  for i in str(n)]

In [7]:
import numpy as np

In [8]:
np.sum(digits)

10

In [48]:
class Circle():
    def __init__(self, radius):
        self.radius = radius
        
    def area(self):
        return np.pi*(self.radius)**2

In [49]:
class Cylinder(Circle):
    def __init__(self, radius, height):
        super().__init__(radius)
        self.height = height
        
        
    def area(self):
        return 2*(np.pi)*(self.radius)**2 + 2 * (np.pi) * (self.radius) * (self.height)
    
    def volume(self):
        v = (np.pi) * ((self.radius)**2) * (self.height)
        return v

In [53]:
n = 159

In [54]:
def sum(n):
    d = [int(i) for i in str(n)]
    d1 = np.sum(d)
    d2 =[int(k[0]) for k in str(d1)]
    d3 =  np.sum(d2)
    return d3

In [55]:
sum(n)

6

In [ ]:
n = 1234

In [57]:
bin(48)

'0b110000'

In [58]:
48>>3

6

In [59]:
x = 5
def func():
    x+=3
    print(x)

In [60]:
func()

UnboundLocalError: local variable 'x' referenced before assignment

In [ ]:
3
6
9
12
15
18

In [61]:
x = 8000

def s():
    x = 12000
    print("salary:", x)
    
s()
print(x)

salary: 12000
8000

In [62]:
var= "James Bond"
#print(var[2::-1])

In [66]:
var[2::-1]

'maJ'

In [67]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: append() takes exactly one argument (2 given)

In [68]:
for x in range(0.5, 5.5, 0.5):
  print(x)

TypeError: 'float' object cannot be interpreted as an integer

In [69]:
5**2

25

In [70]:
5**3

125

In [71]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

TypeError: add() takes exactly one argument (2 given)

In [72]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [73]:
"a"*2*3

'aaaaaa'

In [74]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [75]:
x = 75

def func():
    x = x+1
    print(x)

In [77]:
func()

UnboundLocalError: local variable 'x' referenced before assignment

In [78]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [ ]:
print(type({}) is set)

In [80]:
print(type({}))

<class 'dict'>

In [81]:
s = {}

In [82]:
type(s)

dict

In [83]:
str1 = 'Ault\'Kelly'

In [84]:
str1

"Ault'Kelly"

In [85]:
str1 = 'Ault\\'Kelly'

SyntaxError: invalid syntax (1117046052.py, line 1)

In [86]:
str1 = """Ault'Kelly"""

In [87]:
str1

"Ault'Kelly"

In [88]:
x = 50

def func1():
    x = 25
    print(x)

In [89]:
func1()

25

In [90]:
print(x)

50

In [91]:
x = 50
def fun1():
    x = 25
    print(x)
    
fun1()
print(x)

25
50

In [1]:
def func():
    x = 500
    return x
func()
print(x)

NameError: name 'x' is not defined

In [95]:
print(x)

50

In [4]:
def f1():
    x = 500
    print(x)

In [6]:
f1()
print(x)

500

NameError: name 'x' is not defined

In [8]:
type(range(5))

range

In [9]:
x = 50
def f2():
    global x
    x = 20
f2()
print(x)

20

In [10]:
f2()

In [12]:
type(0xFF)

int

In [13]:
print(type([]) is list)

True

In [15]:
x = 75
def myfunc():
    global x
    x = x + 1
    print(x)

myfunc()
print(x)

76
76

In [25]:
number1 = 20
number2 = 30

def multiplication_sum(number1, number2):
    res = number1*number2
    if res<=1000:
        return res
    else:
        return number1+number2

In [26]:
multiplication_sum(number1,number2)

600

In [27]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [30]:
previous_num = 0

for i in range(10):
    print("Current number", i , "Previous number", previous_num, 'sum:', previous_num+i)
    previous_num = i

Current number 0 Previous number 0 sum: 0
Current number 1 Previous number 0 sum: 1
Current number 2 Previous number 1 sum: 3
Current number 3 Previous number 2 sum: 5
Current number 4 Previous number 3 sum: 7
Current number 5 Previous number 4 sum: 9
Current number 6 Previous number 5 sum: 11
Current number 7 Previous number 6 sum: 13
Current number 8 Previous number 7 sum: 15
Current number 9 Previous number 8 sum: 17

In [37]:
str12 = input("Enter the stg:", )

def even_index(n):
    return n[0::2]

Enter the stg:pynative

In [38]:
even_index(str12)

'pntv'

In [40]:
size = len(str12)

In [41]:
for i in range(0,size-1,2):
    print(str12[i])

p
n
t
v

In [42]:
l  = list(str12)

In [43]:
l

['p', 'y', 'n', 'a', 't', 'i', 'v', 'e']

In [45]:
for i in l[0::2]:
    print(i)

p
n
t
v

In [46]:
word = input("enter word:", )

enter word:pynative

In [54]:
def newword(n,i):
    return n[i:]

In [55]:
newword(word,4)

'tive'

In [57]:
word[4:]

'tive'

In [74]:
numbers_x = [10, 20, 30, 40, 10]
#numbers_y = [75, 65, 35, 75, 30]

In [62]:
for i in range(0,len(numbers_x)-1):
    if numbers_x[i] == numbers_x[len(numbers_x)-1]:
        print('True')
    else:
        print('False')

True
False
False
False

In [66]:
if numbers_y[0] == numbers_y[len(numbers_y)-1]:
    print('True')
else:
    print('False')

False

In [64]:
numbers_y = [75, 65, 35, 75, 30]

In [67]:
def check(n):
    if n[0] == n[len(n)-1]:
        print('True')
    else:
        print("False")

In [70]:
numbers_y = [75, 65, 35, 75, 30]

In [71]:
check(numbers_y)

False

In [72]:
def first_last(num):
    fist_num = num[0]
    last_num = num[-1]
    if fist_num==last_num:
        print('True')
    else:
        print('False')

In [73]:
first_last(numbers_y)

False

In [75]:
first_last(numbers_x)

True

In [76]:
l = [10, 20, 33, 46, 55]

In [77]:
for i in l:
    if i%5==0:
        print(i)

10
20
55

In [88]:
str_x = "Emma is good developer. Emma is a writer"

In [82]:
print('Emma appeared', str_x.count("Emma") ,'times')

Emma appeared 2 times

In [85]:
str_x[0:0+4]

'Emma'

In [89]:
def d(statement):
    count = 0
    for i in range(len(statement)-1):
        count += statement[i:i+4] == "Emma"
    return count

In [90]:
d(str_x)

2

In [91]:
count = d("Emma is good developer. Emma is a writer")
print("Emma appeared ", count, "times")

Emma appeared  2 times

In [101]:
n = 5


for i in range(1,n+1):
    for j in range(i):
        print(i, end= " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [110]:
class Vehicle:
    def __init__(self,name, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        self.name = na

In [105]:
modelX = Vehicle(240,18)

In [106]:
print(modelX.max_speed, modelX.mileage)

240 18

In [107]:
class circle:
    pass

In [116]:
class Bus(Vehicle):
    pass

In [109]:
Bus.mro

In [114]:
modelX = Vehicle('School Volvo',240,18)

In [115]:
modelX.name

'School Volvo'

In [119]:
b1 = Bus('maruti', 250,15)

In [120]:
b1.name

'maruti'

In [122]:
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage
        
    def seating_capacity(self,capacity):
        return f"the seating capacity of a {self.name} is {capacity} passengers"

In [130]:
class Bus(Vehicle):
    def seating_capacity(self,capacity = 50):
        return f"the seating capacity of a {self.name} is {capacity} passengers"

In [131]:
School_bus = Bus("School Volvo", 180, 12)
print(School_bus.seating_capacity())

the seating capacity of a School Volvo is 50 passengers

In [132]:
2%6

2

In [133]:
12%6

0

In [134]:
13%6

1

In [135]:
2*3**3*4

216

In [137]:
36//4

9

In [138]:
y = 10
x = y +=2
print(x)

SyntaxError: invalid syntax (1797599455.py, line 2)

In [139]:
10-4*2

2

In [140]:
x = 10
y = 50
if x ** 2 > 100 and y < 100:
    print(x, y)

In [141]:
x = 100
y = 50
print(x and y)

50

In [142]:
x = 100
y = 50
print(x and y)

50

In [146]:
-18//4

-5

In [147]:
2**3**2

512

In [148]:
a = [10, 20]
b = a
b += [30, 40]
print(a)
print(b)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [153]:
f = open('test.txt.txt', 'r')
print(f.readline(3))
f.close()

aaa

In [156]:
print('PYnative ', end='//')
print(' is for ', end='//')
print(' Python Lovers', end='//')

PYnative // is for // Python Lovers//

In [ ]:
x = float('NaN')
print('%f, %e, %F, %E' % (x, x, x, x))

In [159]:
x = float('NaN')

print('%f,%e,%F,%E' % (x,x,x,x))

nan,nan,NAN,NAN

In [ ]:
print('%d %d %.2f' % (11, '22', 11.22))

In [161]:
print('%d %d %.2f' %(11,22,11.22))

11 22 11.22

In [ ]:
print(sep='--', 'Ben', 25, 'California')

In [163]:
print(sep='--', 'Ben', 25, 'California')

SyntaxError: positional argument follows keyword argument (1709515899.py, line 1)

In [ ]:
print('[%c]' % 65)

In [164]:
print('[%c]' % 65)

[A]

In [165]:
print('%x, %X' % (15,15))

f, F

In [ ]:
print('%x, %X' % (15, 15))

In [167]:
class Vehicle:
    
    color = 'white'

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    pass

class Car(Vehicle):
    pass

In [169]:
School_bus  = Bus("School Volvo", 180, 12)

In [173]:
car = Car("Audi Q5", 240, 18)

In [174]:
print(School_bus.color, School_bus.max_speed, School_bus.mileage, School_bus.name)

white 180 12 School Volvo

In [175]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity
        
    def fare(self):
        return self.capacity*100

In [176]:
import numpy as np

In [186]:
class Bus(Vehicle):
    def fare(self):
        total_amount = super().fare()
        total_amount += total_amount *10 // 100
        return total_amount

In [187]:
bus = Bus("School Volvo", 12, 50)

In [188]:
bus.capacity

50

In [189]:
bus.fare()

5500

In [190]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 12, 50)

In [191]:
type(School_bus)

__main__.Bus

In [192]:
type(Bus)

type

In [193]:
v1 = Vehicle("fghj", 25, 258)

In [194]:
type(v1)

__main__.Vehicle

In [195]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 12, 50)

In [198]:
print(isinstance(School_bus,Vehicle ))

True

In [199]:
def greet(name, age):
    print('my name is :', name)
    print('my age is :', age)

In [202]:
greet('sanjay', 30)

my name is : sanjay
my age is : 30

In [207]:
def func1(*args):
    for i in args:
        print(i)

In [208]:
func1(25,26,27,28)

25
26
27
28

In [209]:
func1(20, 40, 60)

20
40
60

In [210]:
func1(80, 100)

80
100

In [211]:
def calculation(a,b):
    return a+b, a-b, a*b, a/b, a//b

In [214]:
d,f,g,h,j = calculation(40,10)

In [215]:
f

30

In [216]:

g

400

In [217]:
d

50

In [1]:
def show_employee(employeesname , salary = 9000):
    print(employeesname, salary)

In [2]:
show_employee("Ben", 12000)

Ben 12000

In [3]:
show_employee("Jessa")

Jessa 9000

In [7]:
def out_func(a,b):
    #square = a**2
    
    def inner_func(a,b):
        return a+b
    
    add = inner_func(a,b)
    return add+5

In [8]:
out_func(5,10)

20

In [9]:
def addition(num):
    if num:
        return num + addition(num-1)
    else:
        return 0

In [12]:
res  = addition(10)
print(res)

55

In [14]:
addition(5)

15

In [15]:
def display_student(name,age):
    print(name, age)

In [16]:
display_student('manoj', 25)

manoj 25

In [19]:
new_name_function = display_student

In [20]:
new_name_function('manoj', 26)

manoj 26

In [21]:
def list_even(a,b):
    if a>=4 and b<=31:
        for i in range(a,b,2):
            print(i)
    else:
        pass

In [22]:
list_even(2,36)

In [25]:
list(range(4,30,2))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [26]:
x = [4, 6, 8, 24, 12, 2]

In [27]:
import numpy as np

In [28]:
np.max(x)

24

In [29]:
max(x)

24

In [30]:
def outer(a,b):
    def inner(c,d):
        return c+d
    
    return inner(a,b)
    return a

In [33]:
outer(5,10)

15

In [32]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d

    return inner_fun(a, b)
    return a

result = outer_fun(5, 10)
print(result)

15

In [34]:
def display(**kwargs):
    for i in kwargs:
        print(i)

display(emp="Kelly", salary=9000)

emp
salary

In [35]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d
    return inner_fun(a, b)

res = outer_fun(5, 10)
print(res)

15

In [38]:
def fun1(num):
    return num + 25

fun1(5)
print(num)

NameError: name 'num' is not defined

In [39]:
def display_person(*args):
    for i in args:
        print(i)

display_person(name="Emma", age="25")

TypeError: display_person() got an unexpected keyword argument 'name'

In [6]:
for num in range(10, 14):
   for i in range(2, num):
       if num%i == 1:
          print(num)
          break

10
11
12
13

In [9]:
list(range(2,-5,-1))

[2, 1, 0, -1, -2, -3, -4]

In [10]:
var = 10
for i in range(10):
    for j in range(2, 10, 1):
        if var % 2 == 0:
            continue
            var += 1
    var+=1
else:
    var+=1
print(var)

21

In [13]:
list(range(-2,-5,-1))

[-2, -3, -4]

In [14]:
for l in 'Jhon':
   if l == 'o':
      pass
   print(l, end=", ")

J, h, o, n,

In [15]:
x = 0
for i in range(10):
  for j in range(-1, -10, -1):
    x += 1
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
a, b = 12, 5
if a + b:
    print('True')
else:
  print('False')

True

In [18]:
if -3

SyntaxError: invalid syntax (3995538411.py, line 1)

In [19]:
if -3

SyntaxError: invalid syntax (3995538411.py, line 1)

In [20]:
x = 0
while (x < 100):
  x+=2
print(x)

100

In [21]:
x = -5j

In [22]:
type(x)

complex

In [23]:
import math
print(math.ceil(252.4))
print(math.floor(252.4))

253
252

In [24]:
z = complex(1.25)

In [25]:
z

(1.25+0j)

In [26]:
print(round(100.2563, 3))
print(round(100.000056, 3))

100.256
100.0

In [28]:
a = 10.1256
b = -10.5
c = 42e3
d = -68.7e100

In [29]:
type(a)

float

In [30]:
type(b)

float

In [31]:
type(c)

float

In [32]:
type(d)

float

In [35]:
type(-2147483648 )

int

In [36]:
print(0b101)
print(0o10)
print(0x1F)

5
8
31

In [37]:
print( (1.1 + 2.2) == 3.3 )

False

In [38]:
print(int(2.999))

2

In [42]:
type(ascii('char'))

str

In [43]:
ascii(5)

'5'

In [44]:
str1 = "PYnative"

In [46]:
str1[:-1]

'PYnativ'

In [47]:
str1 = "my isname isisis jameis isis bond";
sub = "is";
print(str1.count(sub, 4))

6

In [48]:
e = l

In [49]:
type(e)

str

In [54]:
str = "My salary is 7000f"
print(str.isalnum())

False

In [55]:
str.isalnum()

False

In [56]:
f = "15jk"

In [57]:
f.isalnum()

True

In [58]:
strOne = str("pynative")
strTwo = "pynative"
print(strOne == strTwo)
print(strOne is strTwo)

TypeError: 'str' object is not callable

In [59]:
strOne = str("pynative")

TypeError: 'str' object is not callable

In [60]:
ord('p')

112

In [61]:
print("John" > "Jhon")
print("Emma" < "Emm")

True
False

In [62]:
chr(5)

'\x05'

In [63]:
ord('p')

112

In [64]:
chr(112)

'p'

In [65]:
strOne = str("pynative")
strTwo = "pynative"
print(strOne == strTwo)
print(strOne is strTwo)

TypeError: 'str' object is not callable

In [72]:
aList = [5, 10, 15, 25]
print(aList[::2])

[5, 15]

In [70]:
aList[::-2]

[25, 10]

In [73]:
list1 = ['xyz', 'zara', 'PYnative']
print (max(list1))

zara

In [74]:
sampleList = [10, 20, 30, 40, 50]
sampleList.append(60)
print(sampleList)

sampleList.append(60)
print(sampleList)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 60]

In [75]:
sampleList = [10, 20, 30, 40, 50]
print(sampleList[-2])
print(sampleList[-4:-1])

40
[20, 30, 40]

In [82]:
aList = ['a', 'b', 'c', 'd']

In [77]:
newlist = []
newlist.copy(aList)

TypeError: copy() takes no arguments (1 given)

In [78]:
sampleList = [10, 20, 30, 40]
del sampleList[0:6]
print(sampleList)

[]

In [79]:
aList = [1, 2, 3, 4, 5, 6, 7]
pow2 =  [2 * x for x in aList]
print(pow2)

[2, 4, 6, 8, 10, 12, 14]

In [81]:
list(aList)

[1, 2, 3, 4, 5, 6, 7]

In [85]:
newlist = list(aList)

In [86]:
newlist

['a', 'b', 'c', 'd']

In [87]:
import numpy as np

In [89]:
def volume(Dia):
    radius = Dia/2
    volume = 4/3 * np.pi * (radius**3)
    return volume

In [90]:
volume(12)

904.7786842338603

In [91]:
s1 = {1,2,3}

In [92]:
type(s1)

set

In [93]:
s2 = s1

In [94]:
s2

{1, 2, 3}

In [95]:
set1 = {"Yellow", "Orange", "Black"}
set2 = {"Orange", "Blue", "Pink"}

In [96]:
set1.difference_update(set2)

In [97]:
set1

{'Black', 'Yellow'}

In [98]:
sampleSet = {"Yellow", "Orange", "Black"}
print(sampleSet[1])

TypeError: 'set' object is not subscriptable

In [99]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.discard("Blue")
print(sampleSet)

{'Yellow', 'Black', 'Orange'}

In [100]:
set1 = {10, 20, 30, 40}
set2 = {50, 20, "10", 60}

set3 = set1.union(set2)
print(set3)

{40, 10, 50, 20, '10', 60, 30}

In [101]:
aSet = {1, 'PYnative', ['abc', 'xyz'], True}
print(aSet)

TypeError: unhashable type: 'list'

In [104]:
s1 = {2,1,2,3, 'sanjay'}

In [106]:
aSet = {1, 'PYnative', ('abc', 'xyz'), True}
print(aSet)

{'PYnative', 1, ('abc', 'xyz')}

In [107]:
set1 = {"Yellow", "Orange", "Black"}
set2 = {"Orange", "Blue", "Pink"}

set3 = set2.difference(set1)
print(set3)

{'Pink', 'Blue'}

In [108]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.add("Blue")
sampleSet.add("Orange")
print(sampleSet)

{'Yellow', 'Black', 'Blue', 'Orange'}

In [109]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.discard("Blue")
print(sampleSet)

{'Yellow', 'Black', 'Orange'}

In [110]:
sampleSet = {"Yellow", "Orange", "Black"}

In [112]:
sampleSet.discard('Orange')

In [113]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.update(["Blue", "Green", "Red"])
print(sampleSet)

{'Blue', 'Black', 'Yellow', 'Green', 'Orange', 'Red'}

In [116]:
del sampleSet['Green']

TypeError: 'set' object does not support item deletion

In [117]:
sampleSet[2]

TypeError: 'set' object is not subscriptable

In [119]:
dict1 = {2:5, 3:6}

In [121]:
dict2 = dict(dict1)

In [122]:
dict2

{2: 5, 3: 6}

In [123]:
dict3 = dict1

In [124]:
dict3

{2: 5, 3: 6}

In [132]:
student = { 
  "name": "Emma", 
  "class": 9, 
  "marks": 75 
}

In [127]:
student.pop('marks')

75

In [131]:
student

{'name': 'Emma', 'class': 9}

In [130]:
del student['marks']

In [133]:
student = {1: {'name': 'Emma', 'age': '27', 'sex': 'Female'},
           2: {'name': 'Mike', 'age': '22', 'sex': 'Male'}}

In [135]:
student.clear()

In [136]:
student

{}

In [137]:
dict1 = {"key1":1, "key2":2}
dict2 = {"key2":2, "key1":1}
print(dict1 == dict2)

True

In [140]:
dict1.get('age')

In [143]:
type(dict())

dict

In [144]:
tuple1 = (1120, 'a')
print(max(tuple1))

TypeError: '>' not supported between instances of 'str' and 'int'

In [145]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [149]:
aTuple[1:2][1]

IndexError: tuple index out of range

In [150]:
aTuple = (100, 200, 300, 400, 500)
print(aTuple[-2])
print(aTuple[-4:-1])

400
(200, 300, 400)

In [151]:
fp.seek(5, 1)

NameError: name 'fp' is not defined

In [152]:
import os

In [153]:
import shutil

In [ ]:
shutil.copy

In [1]:
import random

In [3]:
random.SystemRandom().randint(2,5)

4

In [4]:
import secrets

In [7]:
secrets.randbelow(5)

2

In [10]:
random.randrange(99,200,3)

177

In [14]:
random.uniform(20.5,50.5)

34.216375836890386

In [15]:
random.getstate()

(3,
 (926613985,
  4046784669,
  1759689589,
  2584803972,
  2943136626,
  3533547933,
  2936555144,
  818485896,
  2741934405,
  634333182,
  313033063,
  4020437198,
  3566263528,
  1891498535,
  2567848443,
  767674880,
  2464844438,
  567426459,
  1413329755,
  977865861,
  4243937035,
  2308020549,
  1667573293,
  2455005303,
  4277421947,
  215650938,
  2617596912,
  398430104,
  3370764221,
  1626515305,
  1623357545,
  2547284574,
  697483290,
  1455595991,
  3199187733,
  1668110453,
  1271239092,
  2691251096,
  311756917,
  2358937368,
  79708170,
  2395604728,
  3504174993,
  2324535127,
  4087048589,
  3208342369,
  1924288027,
  1005212458,
  2592141314,
  3876128838,
  2873377489,
  2142492937,
  3657130823,
  107254785,
  2689643737,
  2128416647,
  4164113985,
  1309437362,
  2969269855,
  1270371495,
  3401450545,
  2261695319,
  4036855579,
  1228537215,
  513824282,
  2468480892,
  2086405982,
  4286352794,
  2839150873,
  132572911,
  1685587669,
  2498425789,
  2667150071,
  1462804093,
  2740792549,
  149763458,
  3584545926,
  2857650041,
  1653589890,
  423381186,
  1735523929,
  2216911805,
  1797606250,
  2953926207,
  3662369290,
  333913069,
  554723934,
  2171169358,
  2980615521,
  670774363,
  3966623693,
  4213157614,
  1763866872,
  1950394015,
  1369703845,
  2645889785,
  1932563463,
  2994042799,
  1786159609,
  4062973181,
  151637328,
  4192577114,
  2717155922,
  2796246478,
  896884073,
  1192889214,
  1840372632,
  3695102650,
  189701854,
  1507831221,
  2957520651,
  2998966179,
  892730443,
  865633747,
  463765043,
  542872450,
  4146114230,
  4207239823,
  3176561645,
  1272857954,
  2703826706,
  4221171664,
  4027122557,
  337516821,
  573988522,
  2248538121,
  2121562958,
  2684695451,
  3728456850,
  2231755925,
  1419923785,
  922753791,
  547022957,
  2319535796,
  2022395665,
  3521420008,
  3029317993,
  3842048990,
  2588243877,
  3392057478,
  3762170342,
  1574207830,
  4032698317,
  1668274075,
  906428900,
  3141500910,
  328320712,
  2451619392,
  1318231355,
  1053621055,
  4116785384,
  3764720556,
  1348068954,
  1276055300,
  2398830532,
  2528528963,
  353761463,
  2620264604,
  1544692186,
  905177794,
  2066251973,
  480020447,
  99917719,
  3144734012,
  2259516959,
  1725092160,
  2469710068,
  2770874473,
  1004332063,
  1786305930,
  2445503919,
  2698801664,
  2958497885,
  446065898,
  2187291873,
  1933425197,
  4238081646,
  1188648252,
  2115175396,
  4292015736,
  2572887693,
  242383251,
  1458271117,
  2890164932,
  1571189316,
  2358843862,
  184857618,
  3758629258,
  2423483853,
  2776448555,
  3094187511,
  3791743352,
  1690038767,
  4286764956,
  527187350,
  4216201750,
  220732181,
  1958385528,
  2611096803,
  1157796180,
  339869571,
  3053392224,
  1607804220,
  619658896,
  1040471928,
  2766600830,
  3746725942,
  3672321512,
  1130692816,
  1514663031,
  3566861032,
  2247242138,
  4064461060,
  2717764180,
  2436141421,
  1212387091,
  2373295456,
  618029300,
  3546109357,
  200607220,
  190288047,
  3716674141,
  1470070901,
  3492258770,
  2780567716,
  2101653970,
  3757591615,
  2832848609,
  2345927787,
  4170660919,
  1341922797,
  4163108143,
  447712886,
  1131838635,
  3704983590,
  2112159406,
  3324267960,
  4246126106,
  1334692617,
  1660158172,
  1025908142,
  1533975532,
  2485243138,
  3657714821,
  1938835112,
  3399045927,
  445991621,
  1392386468,
  3597633992,
  3268916996,
  1969921082,
  534454454,
  617598563,
  1198876514,
  2854697033,
  3709542799,
  951917249,
  3343339975,
  2333258405,
  2230817736,
  10996774,
  832071050,
  1025201805,
  4288348959,
  1731023002,
  602447192,
  2272555791,
  2367585135,
  1838703332,
  426642182,
  620140149,
  2889558162,
  2784977284,
  1726569934,
  3473555601,
  102468625,
  2030318508,
  1194800603,
  2050934481,
  1819902818,
  360576468,
  716606936,
  4061160097,
  4162728220,
  3951389387,
  4137498904,
  4141525978,
  1231224064,
  2522356637,
  1286522323,
  2024319531,
  1158262177,
  4226756187,
  1055912702,
  977789762,
  4051540109,
  3513125854,
  3680738224,
  3704017476,
  2959826190,
  2932513373,
  4244801266,
  2151546941,
  454078473,
  1112663948,
  2182525067,
  2792093248,
  3900560420,
  1771341817,
  2921588949,
  854573759,
  2854192687,
  3427707662,
  2408360683,
  2290536935,
  8029471,
  3627229331,
  3346106411,
  1817261439,
  3127181707,
  3154819237,
  3573999621,
  2997751563,
  324555878,
  4213139712,
  71364759,
  1781640299,
  226027770,
  1918714985,
  1906977961,
  375395280,
  3680985321,
  4172419355,
  2122238998,
  2307051703,
  3932473582,
  3941102214,
  4271524869,
  2606923570,
  2899173544,
  3563972242,
  3856120062,
  3530391655,
  4294870254,
  2173228362,
  2711451159,
  394149239,
  2902710810,
  2114408382,
  3025848891,
  4280792729,
  3190043749,
  528645708,
  2331535664,
  1220223109,
  4218398041,
  2067861735,
  1425013392,
  992979173,
  1081426623,
  1297586651,
  3122090949,
  780657688,
  477615878,
  342930113,
  3544840201,
  3305335174,
  1157767576,
  2637295616,
  3280242903,
  3548924101,
  63305816,
  3113326649,
  2150781831,
  2741418481,
  2141415709,
  1469212482,
  3877001758,
  852263799,
  4009659565,
  209337420,
  1721678262,
  605517455,
  3160885097,
  708153803,
  2390580218,
  281488282,
  2716992046,
  2148143621,
  2121090571,
  3304526538,
  3537361977,
  1447125213,
  2454040572,
  3024630955,
  3191271653,
  2576840101,
  3626092628,
  1552899247,
  4187846596,
  3109900158,
  2622457276,
  3826385517,
  2364795620,
  3685361000,
  52270493,
  1040983270,
  2691398393,
  692365517,
  2108460247,
  1926065104,
  3526526450,
  2545319727,
  1506747692,
  4098331465,
  3097216558,
  3600570586,
  1193434579,
  4166838997,
  3541918897,
  3968565783,
  824822534,
  1125829619,
  699384197,
  3898793605,
  522834244,
  3656291638,
  1184215001,
  486653899,
  3730554763,
  65444802,
  2965167348,
  95237525,
  3126870211,
  3577488072,
  1172212017,
  2947218026,
  680448490,
  1012319050,
  2775838747,
  1577709696,
  3720130837,
  368901400,
  2164455312,
  1719555765,
  2044088647,
  2710102163,
  651328435,
  2498771307,
  3349312846,
  3746883149,
  3656795212,
  3290134319,
  1301286661,
  570803092,
  2118792385,
  2795795860,
  1079518567,
  2447153549,
  404987124,
  1099039290,
  3696142536,
  394287059,
  1430107111,
  2424488131,
  1751921753,
  50484062,
  2568943037,
  3396168683,
  896390138,
  1777003549,
  3032528858,
  429205438,
  2356305530,
  1469165737,
  3947412972,
  2078175452,
  2079906114,
  61596765,
  2696529984,
  3072454739,
  3449156404,
  713660805,
  3835657519,
  2087615959,
  3606058534,
  1828675443,
  1058392104,
  391056283,
  153564562,
  2800946337,
  3355406763,
  3637960128,
  305763382,
  2693661328,
  3169319788,
  2937712107,
  197457729,
  1511101345,
  2961010877,
  4005424007,
  1256196919,
  623943357,
  3628226914,
  3150543536,
  1748844708,
  1737137453,
  2964338167,
  3260555012,
  1854185527,
  1102259018,
  2152620703,
  903612282,
  3864569119,
  1757300636,
  2068193511,
  650427166,
  1919743714,
  1323240172,
  1440089128,
  4243937380,
  1213104779,
  2965176963,
  1459380313,
  3096800995,
  1505394071,
  375325508,
  4031586047,
  604111075,
  891215221,
  1112925615,
  2806604693,
  3823183085,
  1685845483,
  1676829104,
  1583211750,
  4235142212,
  3255444354,
  2687242781,
  876547073,
  4184615601,
  3133154764,
  1170292162,
  2369181138,
  258972611,
  1291846879,
  921217495,
  1789150741,
  4121525946,
  3531167799,
  775211601,
  1782694435,
  1980484889,
  3977986904,
  1996716027,
  2480857698,
  1520085938,
  2588163174,
  833139209,
  3536703975,
  1523402132,
  2148231429,
  2784629178,
  838785514,
  2067280722,
  329864963,
  4131198214,
  1082533137,
  365797793,
  2311082216,
  4167682387,
  4130939098,
  612380042,
  1821681878,
  4045031867,
  608751031,
  260292869,
  3858565448,
  1185660017,
  755574149,
  3878879439,
  2347036478,
  829173092,
  872365154,
  2911679311,
  987571584,
  943782974,
  742757282,
  293328673,
  3985356596,
  375247650,
  781321359,
  3554429733,
  2780667420,
  3943149944,
  351620104,
  281268145,
  2632058498,
  15648501,
  204205524,
  587667160,
  3889558750,
  2305814055,
  3964710582,
  2186775678,
  2622016366,
  1080294611,
  1619795210,
  3041913174,
  2936043767,
  3045203855,
  3304768808,
  2230687433,
  2340130650,
  2073971063,
  3246906100,
  906775932,
  3358426420,
  3487921174,
  1244646080,
  2101307629,
  1221538977,
  1630814093,
  453133706,
  5),
 None)

In [17]:
random.setstate(5)

TypeError: 'int' object is not subscriptable

In [18]:
random.seed()

In [21]:
str1 = 'PYnative'

In [27]:
random.sample(str1,2)

['t', 'P']

In [28]:
secrets.token_hex(32)

'820b3b688b96459b8c01008d99e352aafb94edd2c19bc68a15d583f8806c77ca'

In [29]:
numberList = [100, 200, 300, 400, 500]

In [37]:
random.choices(numberList, weights=(10, 5, 15, 20, 50), k=3)

[400, 100, 500]

In [38]:
import uuid

In [ ]:
uuid.uuid4()

In [39]:
samplelist = [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]

In [41]:
random.choice(samplelist,4)

TypeError: choice() takes 2 positional arguments but 3 were given

In [55]:
original_number =  121

rev_number = int(str(original_number)[::-1])

if (original_number==rev_number):
    print("yes the given number is palindrom")
else:
    print('no number is not palindrom')

yes the given number is palindrom

In [56]:
125//10

12

In [67]:
def palindrome(number):
    print("original number", number)
    original_num = number
    
    # reverse the given number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    # check numbers
    if original_num == reverse_num:
        print("Given number palindrome")
    else:
        print("Given number is not palindrome")

palindrome(111)
palindrome(126)

original number 111
Given number palindrome
original number 126
Given number is not palindrome

In [65]:
plaindrom(121)

Given number is not palindrome

In [73]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

In [74]:

def newlist(list1,list2):
    new_lst = []
    for i in list1:
        if i%2!=0:
            new_lst.append(i)
            
    for i in list2:
        if i%2==0:
            new_lst.append(i)
            
    return new_lst

In [75]:
newlist(list1,list2)

[25, 35, 40, 60, 90]

In [79]:
number  = int(input('Enter the number:', ))

Enter the number:7536

In [82]:
str(number).split()[::-1]

['7536']

In [22]:
number = 15963



def reverse_number(number):
    rev_num = 0
    while number>0:
        remainder = number%10
        rev_num = (rev_num*10)+remainder
        number = number//10
        
    return rev_num

In [23]:
reverse_number(number)

36951

In [25]:
number = 7536

def new_rev(number):
    digits = 0
    while number>0:
        digits = number%10
        number = number//10
        print(digits, end=" ")

In [27]:
number = 15236
new_rev(number)

6 3 2 5 1

In [28]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

In [29]:
def new_lst(list1, list2):
    newww_lst = []
    for i in list1:
        if i%2!=0:
            newww_lst.append(i)
            
    for j in list2:
        if j%2==0:
            newww_lst.append(j)
            
    return newww_lst

In [30]:
new_lst(list1,list2)

[25, 35, 40, 60, 90]

In [33]:
original_number =  121

In [43]:
def palindrome(number):
    original_num = number
    
    rev_num = 0
    
    while number>0:
        remainder = number%10
        rev_num = (rev_num*10)+remainder
        number = number//10
        
    if (original_num) == (rev_num):
        print('given nuber is plaindrome')
    else:
        print('the given number is not palindrome')

In [45]:
palindrome(125)

the given number is not palindrome

In [48]:
income = int(input('enter your income:', ))
payable_tax = 0
def income_tax(income):
    if income<=10000:
        payable_tax = 0
    elif income<=20000:
        x = income - 10000
        payable_tax = x * 10 / 100
    else:
        payable_tax = 0
        payable_tax = 10000 * 10 / 100
        payable_tax += (income - 20000) * 20 / 100
    
    return payable_tax

enter your income:45000

In [49]:
income_tax(income)

6000.0

In [53]:
income = int(input('Enter your income:', ))
payable_tax = 0

Enter your income:45000

In [54]:
def income_tax(income):
    if income<=10000:
        payable_tax = 0
        
    elif income<=20000:
        x = income-10000
        payable_tax += x * 10 / 100
        
    else:
        payable_tax = 0
        
        payable_tax = 10000 * 10 / 100
        
        payable_tax += (income - 20000) * 20 / 100
        
    return payable_tax

In [55]:
income_tax(income)

6000.0

In [62]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end= " ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [72]:
for i in range(5):
    for j in range(i):
        print('*', end= " ")
    print()
    
for i in range(5, 0, -1):
    for j in range(i):
        print('*', end= " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [76]:
n = 5
for i in range(6, 0,-1):
    for j in range(i):
        print('*', end= " ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [77]:
def exponent(base, exp):
    return base**exp

In [78]:
exponent(5,4)

625

In [79]:
exponent(2,5)

32

In [86]:
def exponent(base, exp):
    num = exp
    result = 1
    while num>0:
        result*=base
        num-=1
    print(base, "raises to the power of", exp, "is: ", result)

In [87]:
exponent(2,5)

2 raises to the power of 5 is:  32

In [88]:
def exp(base,ex):
    num = ex
    res = 1
    while num>0:
        res*=base
        num-=1
    print(base,"raises to the poswer of", ex, "is: ", res)

In [89]:
exp(5,4)

5 raises to the poswer of 4 is:  625

In [94]:
num1 = int(input('Enter first number:', ))
num2 = int(input('Enter second number:', ))
def multiplication(num1, num2):
    return num1*num2
multiplication(num1, num2)

Enter first number:12
Enter second number:13

156

In [95]:
print('Name',"**",'Is',"**" ,'James')

Name ** Is ** James

In [96]:
print('Name', 'Is', 'James', sep="**")

Name**Is**James

In [99]:
n = 8
print(f"The octal number of decimal number {n} is {oct(n)}")

The octal number of decimal number 8 is 0o10

In [100]:
n = 8

print("%o" % n)

10

In [101]:
num = 458.541315

print(round(num,2) )

458.54

In [102]:
num = 458.541315

print("%0.2f" % num)

458.54

In [104]:
lst = []

def float_lst():
    for i in range(0,5):
        item = float(input())
        lst.append(item)
    return lst

In [105]:
float_lst()

48.36
45.98
25.36
12.45
25.78

[48.36, 45.98, 25.36, 12.45, 25.78]

In [134]:
with open("file1.txt", "r") as f:
    lines = f.readlines()
    
with open("file2.txt", "w") as f:
    coun = 0
    for line in lines:
      

        if coun==4:
            coun+=1
            continue

        else:
            f.write(line)
        coun+=1

In [141]:
def str_input():
    full_name =  input("Enter three string:", )
    name_list = full_name.split()
    name1 = name_list[0]
    name2 = name_list[1]
    name3 = name_list[2]
    
    return[ name1, name2, name3]

In [142]:
str_input()

Enter three string:Emma Jessa Kelly

['Emma', 'Jessa', 'Kelly']

In [145]:
str1, str2, str3 = input("Enter three string:",).split()

Enter three string:Emma Jessa Kelly

In [146]:
print('Name1:', str1)
print('Name2:', str2)
print('Name3:', str3)

Name1: Emma
Name2: Jessa
Name3: Kelly

In [147]:
totalMoney = 1000
quantity = 3
price = 450

In [155]:
print("I have {0} dollars so I can buy {1} football for {2:0.2f} dollars.".format(totalMoney,quantity,price))

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

In [156]:
import os

In [158]:
os.stat("file1.txt").st_size

47

In [159]:
f = open("file3.txt", "w")

In [163]:
size = os.stat("file3.txt").st_size

if size == 0:
    print('file is empty')

file is empty

In [166]:
with open("file1.txt", "r") as f:
    lines = f.readlines()
    
    print(lines[3])

line4