In [4]:
n = 1
while n<=10:
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9
10

In [6]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
number = int(input("enter:", ))

enter:10

In [8]:
sum = 0

for i in range(1,number+1):
    sum+=i
    
print(sum)

55

In [15]:
number = 10
x = sum(range(1,number+1))

TypeError: 'int' object is not callable

In [16]:
import numpy as np

In [19]:
np.sum(list(range(1,number+1)))

55

In [22]:
n = 2

for i in range(1,11):
    product = n*i
    print(product)

2
4
6
8
10
12
14
16
18
20

In [23]:
numbers = [12, 75, 150, 180, 145, 525, 50]

In [27]:
for i in numbers:
    if i>500:
        break
    elif i>150:
        continue
    else:
        if i%5==0:
            print(i)

75
150
145

In [34]:
number = 75869

counter = 0

while number!=0:
    number = number//10
    counter+=1
print(counter)

5

In [39]:
num = 2536985


coun = 0


while num!=0:
    num = num//10
    coun+=1
    
print(coun)

7

In [53]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j, end= " ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [54]:
list1 = [10, 20, 30, 40, 50]

In [61]:
for i in range(len(list1)-1,-1,-1 ):
    print(list1[i])

50
40
30
20
10

In [62]:
list2 = [10, 20, 30, 40, 50]

In [64]:
rev_list = reversed(list2)

In [65]:
for i in rev_list:
    print(i)

50
40
30
20
10

In [68]:
for i in (list2[::-1]):
    print(i)

50
40
30
20
10

In [82]:
for num in range(-10,0,1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [84]:
for i in range(5):
    print(i)
else:
    print('Done')

0
1
2
3
4
Done

In [103]:
start = 1
end = 20

In [104]:
for i in range(start, end+1):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19

In [108]:
num1 = 0
num2 = 1

for i in range(10):
    print(num1, end=" ")
    
    res = num1+num2
    
    num1 = num2
    num2 = res

0 1 1 2 3 5 8 13 21 34

In [120]:
fac = 1
num = 10

if num<0:
    print("we can not calculate factorial of negative number")
    
elif num==0:
    print("the factorial of zero is 1")

else:
    for i in range(1,num+1):
        fac*=i
        
    print(fac)

3628800

In [124]:
num = 76542
 rev = 0

In [128]:
while num>0:
    remainder = num%10
    rev = rev*10+remainder
    num = num//10
    
print(rev)

24567

In [129]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(1,len(my_list),2):
    print(my_list[i])

20
40
60
80
100

In [131]:
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

In [136]:
input_number = 6
for i in range(1,input_number+1):
    print("Current Number is :", i ,  "and the cube is" ,i*i*i)

Current Number is : 1 and the cube is 1
Current Number is : 2 and the cube is 8
Current Number is : 3 and the cube is 27
Current Number is : 4 and the cube is 64
Current Number is : 5 and the cube is 125
Current Number is : 6 and the cube is 216

In [141]:
n = 5

star = 2
sum_seq = 0

for i in range(n):
    print(star , end= " + ")
    
    sum_seq+=star
    
    star = (star*10)+2
    
print("\nSum of above series is:", sum_seq)

2 + 22 + 222 + 2222 + 22222 +
Sum of above series is: 24690

In [148]:
n = 5
start = 2

sum_seq = 0

for i in range(0,n):
    print(start, end= " + ")
    sum_seq+=start
    
    start = start * 10 + 2
    
print("\nSum of above series is:", sum_seq)

2 + 22 + 222 + 2222 + 22222 +
Sum of above series is: 24690

In [152]:
n = 5

for i in range(n):
    for j in range(i):
        print('*', end= " ")
    print()
    
for i in range(n,0,-1):
    for j in range(i):
        print('*', end= " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [153]:
str1 = "James"

In [157]:
new_str = " "

for i in str1:
    f = str1[0]
    m = str1[len(str1)//2]
    l = str1[len(str1)-1]
    
    new_str = f+m+l

In [158]:
new_str

'Jms'

In [189]:
str1 = "JaSonAy"

In [190]:
def get_middel_three(str1):
    mi = int(len(str1)/2)
    res = str1[mi-1:mi+2]
    
    return res

get_middel_three(str1)

'Son'

In [10]:
s1 = "Ault"
s2 = "Kelly"

In [11]:
def middle(s1,s2):
    mi = (len(s1))//2
    x = s1[:mi:]
    x = x + s2
    x = x + s1[mi:]
    return x

In [12]:
middle(s1,s2)

'AuKellylt'

In [13]:
s1 = "America"
s2 = "Japan"

In [20]:
def new_str(s1,s2):
    mi = s1[(len(s1))//2:((len(s1))//2)+1]
    f = s1[0]
    l = s1[len(s1)-1]
    
    mii = s2[(len(s2))//2]
    fi = s2[0]
    li = s2[len(s2)-1]
    
    return f+fi+mi+mii+l+li

In [21]:
new_str(s1,s2)

'AJrpan'

In [25]:
def mix(s1,s2):
    first = s1[0] + s2[0]
    middle = s1[len(s1)//2:(len(s1)//2)+1] + s2[len(s2)//2:(len(s2)//2)+1]
    last = s1[len(s1)-1] + s2[len(s2)-1]
    
    return first + middle + last

In [26]:
mix(s1,s2)

'AJrpan'

In [23]:
str1 = 'PyNaTive'

"y".islower()

True

In [22]:
lower = []
upper = []
for i in str1:
    if i.islower():
        lower.append(i)
    else:
        upper.append(i)
        
        
print("".join(lower + upper))

yaivePNT

In [26]:
str1 = "P@#yn26at^&i5ve"

In [25]:
l = 0
d = 0
s = 0

for i in str1:
    if i in "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ":
        l+=1
    elif i in "0123456789":
        d+=1
    else:
        s+=1
        
print(l,d,s)

8 3 4

In [28]:
l = 0
d = 0
s = 0

for i in str1:
    if i.isalpha():
        l+=1
    elif i.isdigit():
        d+=1
    else:
        s+=1
        
print(l,d,s)

8 3 4

In [29]:
def check(string1):
    l = 0
    d = 0
    s = 0

    for i in str1:
        if i.isalpha():
            l+=1
        elif i.isdigit():
            d+=1
        else:
            s+=1
            
    return l,d,s

In [30]:
check(str1)

(8, 3, 4)

In [31]:
s1 = "Abc"
s2 = "Xyz"

In [32]:
def mix(s1,s2):
    f = s1[0] + s2[-1]
    s = s1[1] + s2[-2]
    l = s1[2] + s2[-3]
    
    return f+s+l

In [33]:
mix(s1,s2)

'AzbycX'

In [34]:
a = 2
b = 3

a if a>b else b

3

In [39]:
s1 = "Abc"
s2 = "Xyz"

# get string length
s1_length = len(s1)
s2_length = len(s2)

# get length of a bigger string
length = s1_length if s1_length > s2_length else s2_length
result = ""

# reverse s2
s2 = s2[::-1]

# iterate string 
# s1 ascending and s2 descending
for i in range(length):
    if i < s1_length:
        result = result + s1[i]
    if i < s2_length:
        result = result + s2[i]

print(result)

AzbycX

In [40]:
s1 = "Abc"
s2 = "Xyz"

In [43]:
s2 = s2[::-1]

result = ""

s1_length = len(s1)

s2_length = len(s2)

length = s1_length if s1_length>s2_length else s2_length


for i in range(length):
    if i<s1_length:
        result = result + s1[i]
    if i< s2_length:
        result = result + s2[i]
        
print(result)

AzbycX

In [46]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]


def new_lst(l1,l2):
    
    oddlst = []
    evenlst = []
    
    for i in range(1,len(l1),2):
        oddlst.append(l1[i])
        
    for i in range(0,len(l2),2):
        evenlst.append(l2[i])
        
    return oddlst + evenlst

new_lst(l1,l2)

[6, 12, 18, 4, 12, 20, 28]

In [52]:
list1 = [34, 54, 67, 89, 11, 43, 94]

n = len(list1)
if n>1:
    s = list1.pop(4)
    a = list1.insert(2,s)
    b = list1.insert(n,s)
    
print(list1)

[34, 54, 11, 67, 89, 43, 94, 11]

In [53]:
list1

[34, 54, 11, 67, 89, 43, 94, 11]

In [61]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]

In [64]:
def split(l):
    first_three = l[:len(l)//3][::-1]
    next_three = l[len(l)//3:(len(l)//3)+3][::-1]
    last_three = l[-3:][::-1]
    return first_three + next_three + last_three
split(sample_list)

[8, 45, 11, 12, 14, 23, 89, 45, 78]

In [65]:
slice(0,3)

slice(0, 3, None)

In [67]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

In [68]:
di = {}
for i in sample_list:
    if i in di:
        di[i] +=1
    else:
        di[i] = 1
        
print(di)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [76]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

In [79]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

def mix(f,s):
    dict_construct = dict()
    for i in f:
        if i in dict_construct:
            pass
        else:
            dict_construct[i] = s[i]
    return dict_construct
            
mix(first_list,second_list)

IndexError: list index out of range

In [80]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

In [83]:
set(zip(first_list,second_list))

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

In [85]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]


def zippp(a,b):
    result = zip(a,b)
    return set(result)

zippp(first_list,second_list)

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

In [101]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

c = first_set.intersection(second_set)



first_set.(c)

first_set

{23, 29, 42, 57, 65, 78, 83}

In [102]:
def comm(s1,s2):
    intersection_element = s1.intersection(s2)
    for i in intersection_element:
        s1.remove(i)
        
    return s1

In [103]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

In [104]:
comm(first_set,second_set)

{23, 42, 65, 78}

In [4]:
first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}

In [5]:
def check(s1,s2):
    
    if s1.issubset(s2):
        print("First set is subset of second set:", s1.issubset(s2))
        s1.clear()
        
    if s2.issubset(s1)== False:
        print("Second set is subset of First set:",s2.issubset(s1) )
        
        
    if s1.issuperset(s2)== False:
        print("First set is Super set of second set:", s1.issuperset(s2))

    if s2.issuperset(s1):
        print("Second set is Super set of First set:", s2.issuperset(s1))
        s2 = s1.union(s2) - s2.intersection(s1)
        
    return s1,s2


check(first_set, second_set)

First set is subset of second set: True
Second set is subset of First set: False
First set is Super set of second set: False
Second set is Super set of First set: True

(set(), {22, 27, 34, 43, 48, 53, 93})

In [6]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

In [10]:
roll_number = [i for i in roll_number if i in sample_dict.values()]

In [11]:
roll_number

[47, 69, 76, 97]

In [12]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

In [14]:
l1 = [i for i in speed.values()]

In [16]:
l1 = list(set(l1))

In [17]:
l1

[44, 47, 52, 53, 54]

In [20]:
speed

lst = []

for i in speed.values():
    if i not in lst:
        lst.append(i)
        
print(lst)

[47, 52, 44, 53, 54]

In [21]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

In [27]:
def ops(lst):
    unique_items = list(set(lst))
    tup_ele = tuple(unique_items)
    min_ele = min(tup_ele)
    max_ele = max(tup_ele)
    
    return unique_items,tup_ele, min_ele, max_ele

In [28]:
ops(sample_list)

([65, 99, 41, 45, 87, 94], (65, 99, 41, 45, 87, 94), 41, 99)

In [32]:
list1 = [100, 200, 300, 400, 500]

In [30]:
list1.reverse()

In [34]:
list1[::-1]

[500, 400, 300, 200, 100]

In [35]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

In [36]:
def concat(lst1, lst2):
    new_lst = []
    for i in range(len(lst1)):
        new_lst.append(lst1[i] + lst2[i])
        
    return new_lst

In [37]:
concat(list1, list2)

['My', 'name', 'is', 'Kelly']

In [41]:
new_lst = [i+j for i, j in zip(list1, list2)]

In [42]:
print(new_lst)

['My', 'name', 'is', 'Kelly']

In [43]:
numbers = [1, 2, 3, 4, 5, 6, 7]

In [45]:
res = [i**2 for i in numbers]

In [46]:
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [47]:
new_lst3 = []
for i in numbers:
    new_lst3.append(i*i)
    
print(new_lst3)

[1, 4, 9, 16, 25, 36, 49]

In [51]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

new_lst4 = []
for i in list1:
    for j in list2:
        new_lst4.append(i + j)
        
print(new_lst4)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [50]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

In [52]:
[i + j for i in list1 for j in list2]

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [53]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

In [64]:
for i, j in zip(list1, list2[::-1]):
    print(i, j)

10 400
20 300
30 200
40 100

In [65]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

In [68]:
res = [i for i in list1 if i.isalpha()]

In [69]:
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [71]:
list(filter(lambda x: x.isalpha(), list1))

['Mike', 'Emma', 'Kelly', 'Brad']

In [72]:
list(filter(None, list1))

['Mike', 'Emma', 'Kelly', 'Brad']

In [73]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [79]:
list1[2][2].append(7000)

In [80]:
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [90]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

In [91]:
list1[2][1][2].extend(sub_list)

In [92]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [101]:
list1 = [5, 10, 15, 20, 25, 50, 20]

In [103]:
for i in range(len(list1)):
    if i>1:
        if list1[i]==20:
            list1[i] = 200
            break

In [104]:
list1

[5, 10, 15, 200, 25, 50, 20]

In [105]:
list1 = [5, 10, 15, 20, 25, 50, 20]

In [108]:
indexx = list1.index(20)
list1[indexx] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [109]:
list1 = [5, 20, 15, 20, 25, 50, 20]

In [113]:
for i in range(len(list1)):
    if i>=0:
        if list1[i] == 20:
            list1.pop(i)
        else:
            pass
print(list1)

[5, 15, 25, 50]

In [116]:
def remo(list1, val):
    return [i for i in list1 if i!=val]

In [118]:
remo(list1, 20)

[5, 15, 25, 50]

In [119]:
list1 = [5, 20, 15, 20, 25, 50, 20]

In [120]:
while 20 in list1:
    list1.remove(20)

In [121]:
list1

[5, 15, 25, 50]

In [122]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

{i:j for i,j in zip(keys,values)}

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [124]:
dict(zip(keys, values))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [134]:
d = dict()

d.update({5:7})
d

{5: 7}

In [135]:
new_dict = dict()



for i in range(len(keys)):
    new_dict.update({keys[i]:values[i]})
    
print(new_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [136]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [137]:
dict1.update(dict2)

In [138]:
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [139]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [141]:
dict3 = {**dict1, **dict2}

In [142]:
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [143]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [144]:
dict3 = dict1.copy()

In [145]:
dict3.update(dict2)

In [146]:
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [147]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [159]:
print(sampleDict['class']['student']['marks']['history'])

80

In [160]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

In [163]:
d = dict()

for i in employees:
    d[i] = defaults
    
print(d)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [167]:
res = dict.fromkeys(employees, defaults)
print(res)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [168]:
res['Kelly']

{'designation': 'Developer', 'salary': 8000}

In [169]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

In [177]:
new_dict = {i:sample_dict[i] for i in keys}

In [178]:
new_dict

{'name': 'Kelly', 'salary': 8000}

In [180]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]


res = {}

for i in keys:
    res.update({i:sample_dict[i]})
    
res

{'name': 'Kelly', 'salary': 8000}

In [181]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

In [183]:
for i in keys:
    if i in sample_dict.keys():
        del sample_dict[i]
        
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [192]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

In [193]:
for i in keys:
    sample_dict.pop(i)
    
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [191]:
{k: sample_dict[k] for k in sample_dict.keys()-keys}

{'age': 25, 'city': 'New york'}

In [194]:
sample_dict.keys() -

dict_keys(['age', 'city'])

In [196]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

In [200]:
if 40000 in sample_dict.values():
    print('value is present')
else:
    print('value is not presenet')

value is not presenet

In [201]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

In [205]:
list(sample_dict.keys())[3] = "Location"

In [206]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}

In [208]:
l1 = list(sample_dict.keys())

In [210]:
l1[3] = "Location"

In [211]:
l1

['name', 'age', 'salary', 'Location']

In [214]:
l2 = list(sample_dict.values())

In [215]:
{k:v for k,v in zip(l1,l2)}

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

In [216]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

In [217]:
sample_dict['Location'] = sample_dict.pop('city')

In [218]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

In [219]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

In [223]:
print(min(sample_dict, key=sample_dict.get))

Math

In [224]:
sample_dict.get

In [225]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

In [228]:
sample_dict['emp3']['salary'] = 8500

In [230]:
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [248]:
s1 = "Yn"
s2 = "PYnative"

In [244]:
if s1 in s2:
    print("True")
else:
    print('False')

False

In [249]:
def balance_check(s1,s2):
    flag = True
    for i in s1:
        if i in s2:
            continue
        else:
            flag = False
            
    return flag
            
balance_check(s1,s2)

True

In [257]:
str1 = "Welcome to USA. usa awesome, isn't it?"
tem_str1 = str1.lower()
sub_str1 = 'USA'

In [258]:
tem_str1

"welcome to usa. usa awesome, isn't it?"

In [260]:
c = tem_str1.count(sub_str1.lower())

In [262]:
print("The USA count is:", c)

The USA count is: 2

In [282]:
str1 = "PYnative29@#8496"
str1.isnumeric()

False

In [279]:
l1 = [int(i) for i in str1 if i.isnumeric()]
sum(l1)
len(l1)
avg = sum(l1)/len(l1)
avg

6.333333333333333

In [285]:
total = 0
cnt = 0

for i in str1:
    if i.isdigit():
        total+=int(i)
        cnt+=1
        
print(total)
print(total/cnt)

38
6.333333333333333

In [286]:
import re

In [290]:
l2 = [int(num) for num in re.findall(r"\d", str1)]

In [292]:
total = sum(l2)

In [293]:
avg = total/len(l2)

In [294]:
avg

6.333333333333333

In [295]:
str1 = "Apple"

In [299]:
res = {i:str1.count(i) for i in str1}

In [300]:
print(res)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [302]:
s3 = {}
for i in str1:
    if i not in s3:
        s3[i] = 1
    else:
        s3[i]+=1
        
print(s3)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [303]:
str1 = "PYnative"

In [305]:
str1[::-1]

'evitanYP'

In [311]:
"".join(reversed(str1))

'evitanYP'

In [313]:
type(reversed(str1))

reversed

In [314]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."

In [316]:
str1.find('Emma', 1)

43

In [317]:
str1.rfind('Emma')

43

In [328]:
str1 = "Emma-is-a-data-scientist"

In [333]:
l1 = str1.split('-')

In [334]:
for i in l1:
    print(i)

Emma
is
a
data
scientist

In [335]:
for i in str1.split('-'):
    print(i)

Emma
is
a
data
scientist

In [336]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

In [338]:
list(filter(None, str_list))

['Emma', 'Jon', 'Kelly', 'Eric']

In [339]:
new_lst = []
for s in str_list:
    if s:
        new_lst.append(s)

In [340]:
new_lst

['Emma', 'Jon', 'Kelly', 'Eric']

In [350]:
import string

In [349]:
str1 = "/*Jon is @developer & musician"

str1.maketrans()

TypeError: maketrans expected at least 1 argument, got 0

In [356]:
new_str  = str1.translate(str.maketrans('','', string.punctuation))

In [353]:
new_str

'Jon is developer  musician'

In [348]:
newstr = ""

for i in str1:
    if i.isalpha():
        newstr += i
        
print(newstr)

Jonisdevelopermusician

In [357]:
import re

In [360]:
res = re.sub(r'[^\w\s]', " ", str1)
print(res)

  Jon is  developer   musician

In [370]:
str1 = 'I am 25 years and 10 months old'

In [373]:


for i in str1:
    if i.isdigit():
        print(i)

2
5
1
0

In [377]:
res = "".join([i for i in str1 if i.isdigit()])

In [378]:
print(res)

2510

In [382]:
str1 = "Emma25 is Data scientist50 and AI Expert"
str1.split()

['Emma25', 'is', 'Data', 'scientist50', 'and', 'AI', 'Expert']

In [381]:
"".join([i for i in str1 if i.isalnum()])

'Emma25isDatascientist50andAIExpert'

In [385]:
for i in str1.split():
    if i.isalpha():
        pass
    else:
        print(i)

Emma25
scientist50

In [390]:
str1 = '/*Jon is @developer & musician!!'

In [391]:
import string

In [398]:
newstr = str1.translate(str.maketrans("", "", string.punctuation))

In [399]:
new_str

'Jon is developer  musician251025102510251025102510'

In [400]:
import re

In [402]:
re.sub(r'[^\w\z]', "#", str1)

error: bad escape \z at position 4

In [404]:
for c in string.punctuation:
    print(c)

!
"
#
$
%
&
'
(
)
*
+
,
-
.
/
:
;
<
=
>
?
@
[
\
]
^
_
`
{
|
}
~

In [405]:
str1

'/*Jon is @developer & musician!!'

In [409]:
for i in string.punctuation:
    str1 = str1.replace(i,'#')

In [410]:
str1

'##Jon is #developer # musician##'