In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [3]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
len(keyword.kwlist)

35

In [6]:
1sep = 10

SyntaxError: invalid syntax (<ipython-input-6-52bebf41550a>, line 1)

In [7]:
dec@men = 15

SyntaxError: cannot assign to operator (<ipython-input-7-3d432d314933>, line 1)

In [8]:
def = 145

SyntaxError: invalid syntax (<ipython-input-8-03e3655cd3a8>, line 1)

In [9]:
jan2 = 156

In [10]:
_grd = 56

In [11]:
rt_ = 78

In [12]:
p1 = 10+20

In [13]:
p1 = ['a', 'b', 'c', 'd']

In [14]:
p2 = 10+20+30+\
    40+50+60+\
    70

In [15]:
p2

280

In [16]:
p2 = ['a',
     'b',
     'c']

In [17]:
p2

['a', 'b', 'c']

In [19]:
p = 120

if p==120:
print('p is equal to 120')

IndentationError: expected an indented block (<ipython-input-19-f2fcee6c350b>, line 4)

In [21]:
list(range(5))

[0, 1, 2, 3, 4]

In [23]:
for i in range(5):
print(i)

IndentationError: expected an indented block (<ipython-input-23-ff840fecd491>, line 2)

In [24]:
for i in range(5): print(i)

0
1
2
3
4

In [25]:
j = 20
for i in range(5):
    print(i)
print(j)

0
1
2
3
4
20

In [27]:
def square(num):
    """ square_function : This will return square of a number"""
    return num**2

In [30]:
square(2)

4

In [32]:
square.__doc__

' square_function : This will return square of a number'

In [33]:
def evenodd(num):
    """evenodd function : This function will test wheather a number is even or odd"""
    if num%2==0:
        print('even number')
    else:
        print('odd number')

In [35]:
evenodd.__doc__

'evenodd function : This function will test wheather a number is even or odd'

In [36]:
evenodd(3)

odd number

In [37]:
evenodd(2)

even number

In [38]:
p = 30

In [39]:
id(p)

140709526514384

In [41]:
hex(id(p))

'0x7ff97d582ad0'

In [42]:
p = 20

In [43]:
q = 20

In [44]:
r = q

In [45]:
p,type(p), id(p), hex(id(p))

(20, int, 140709526514064, '0x7ff97d582990')

In [46]:
q, type(q), id(q), hex(id(q))

(20, int, 140709526514064, '0x7ff97d582990')

In [47]:
r, type(r), id(r), hex(id(r))

(20, int, 140709526514064, '0x7ff97d582990')

In [48]:
p = 20

In [49]:
p = p+10

In [50]:
p

30

In [51]:
intvar = 10

In [52]:
floatvar = 2.57

In [53]:
strvar = 'Python language is fun'

In [56]:
print(intvar, ":", floatvar,":",strvar)

10 : 2.57 : Python language is fun

In [57]:
intvar, fvar, svar = 15,2.65,"machiner learning"

In [58]:
intvar

15

In [59]:
fvar

2.65

In [60]:
svar

'machiner learning'

In [61]:
p1 = p2 = p3 = p4 = 44

In [62]:
p1

44

In [63]:
p2

44

In [64]:
p3

44

In [65]:
p4

44

In [66]:
val1 = 10
print(val1)

10

In [68]:
print(type(val1))

<class 'int'>

In [69]:
sys.getsizeof(val1)

28

In [71]:
isinstance(val1,int)

True

In [72]:
val2 = 92.78

In [73]:
print(val2)

92.78

In [75]:
print(type(val2))

<class 'float'>

In [76]:
sys.getsizeof(val2)

24

In [77]:
isinstance(val2,float)

True

In [82]:
val3 = 25+10j

In [83]:
print(val3)

(25+10j)

In [85]:
print(type(val3))

<class 'complex'>

In [86]:
sys.getsizeof(val3)

32

In [87]:
isinstance(val3,complex)

True

In [88]:
sys.getsizeof(int())

24

In [89]:
sys.getsizeof(float())

24

In [90]:
sys.getsizeof(complex())

32

In [91]:
bool1 = True

In [92]:
bool2 = False

In [94]:
print(type(bool1))

<class 'bool'>

In [96]:
print(type(bool2))

<class 'bool'>

In [97]:
isinstance(bool2, bool)

True

In [98]:
bool(0)

False

In [99]:
bool(1)

True

In [100]:
bool(None)

False

In [101]:
bool(True)

True

In [102]:
bool(False)

False

In [103]:
str1 = 'Hello python'

In [104]:
print(str1)

Hello python

In [105]:
mystr = "Hello worrld"

In [106]:
print(mystr)

Hello worrld

In [111]:
mystr = """hello 


            world"""

In [112]:
print(mystr)

hello


            world

In [113]:
mystr = ('Happy',
        'monday',
        'Everyone')

In [114]:
print(mystr)

('Happy', 'monday', 'Everyone')

In [117]:
mystr2 = 'woohoo '
mystr2 = mystr2*5

In [118]:
mystr2

'woohoo woohoo woohoo woohoo woohoo '

In [119]:
len(mystr2)

35

In [120]:
str1

'Hello python'

In [121]:
str1[0]

'H'

In [122]:
str1[-1]

'n'

In [125]:
str1[len(str1)-1]

'n'

In [126]:
str1[6]

'p'

In [127]:
str1[5]

' '

In [128]:
str1[0:5]

'Hello'

In [129]:
str1[6:12]

'python'

In [131]:
str1[-4:]

'thon'

In [132]:
str1[:-4]

'Hello py'

In [133]:
str1[-6:]

'python'

In [134]:
str1[:4]

'Hell'

In [135]:
str1[:6]

'Hello '

In [136]:
str1

'Hello python'

In [138]:
str1[0:5] = 'india'

TypeError: 'str' object does not support item assignment

In [139]:
del str1

In [140]:
str1

NameError: name 'str1' is not defined

In [149]:
s1 = "Hello"
s2 = "Sanjay"

s3 = s1 + " + " + s2

In [150]:
print(s3)

Hello + Sanjay

In [151]:
mystr1 = "Hello Everyone"

In [152]:
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [154]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [157]:
list(enumerate(mystr1))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

In [158]:
mystr1

'Hello Everyone'

In [160]:
print('Hello' in mystr1)

True

In [161]:
'l' in mystr1

True

In [162]:
'Everyone' in  mystr1

True

In [163]:
'Hi' in mystr1

False

In [164]:
str5 = "Natural language processing with Python and R and Java"

In [166]:
str5.partition('and')

('Natural language processing with Python ', 'and', ' R and Java')

In [167]:
str5.rpartition('and')

('Natural language processing with Python and R ', 'and', ' Java')

In [168]:
mystr2 = "   Heello Everyone   "

In [169]:
mystr2.lstrip()

'Heello Everyone   '

In [170]:
mystr2

'   Heello Everyone   '

In [172]:
mystr2.rstrip()

'   Heello Everyone'

In [173]:
mystr2.strip()

'Heello Everyone'

In [176]:
mystr2 = "***************Hello everyone**********All the best*************"

In [177]:
mystr2

'***************Hello everyone**********All the best*************'

In [179]:
mystr2.strip('*')

'Hello everyone**********All the best'

In [181]:
mystr2.lstrip('*')

'Hello everyone**********All the best*************'

In [182]:
mystr2.rstrip('*')

'***************Hello everyone**********All the best'

In [183]:
mystr2 = 'Hello Everyone'

In [184]:
mystr2.lower()

'hello everyone'

In [185]:
mystr2.upper()

'HELLO EVERYONE'

In [186]:
mystr2.capitalize()

'Hello everyone'

In [187]:
mystr2.replace('Hello', 'Goodmorning')

'Goodmorning Everyone'

In [188]:
mystr2.replace(" ", "")

'HelloEveryone'

In [191]:
mystr5 = "one two Three one two two three"

In [192]:
mystr5.count('one')

2

In [193]:
mystr5.count('two')

3

In [194]:
mystr5.startswith('one')

True

In [195]:
mystr5.startswith('two')

False

In [196]:
mystr5.endswith('two')

False

In [197]:
mystr5.endswith('three')

True

In [198]:
mystr4 = "one two three four one two two three five five six seven six seven one"

In [199]:
mystr4.split()

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [200]:
item1 = 40
item2 = 55
item3 = 77

In [201]:
print("cost of item1 {}, item2 {}, and item3 are {}".format(item1,item2,item3))

cost of item1 40, item2 55, and item3 are 77

In [2]:
mytuple=('one','two','three','four','five','six','seven','eight')

In [3]:
"one" in mytuple

True

In [4]:
'nine' in mytuple

False

In [6]:
if 'twelve' in mytuple:
    print("thtree is presemt in yjhe tuple")
else:
    print('three is not presrentr')

three is not presrentr

In [7]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [8]:
mytuple.count('four')

1

In [9]:
mytuple.index('four')

3

In [10]:
mytuple.index('five')

4

In [11]:
mytuple.index('one')

0

In [12]:
mytuple2 = [43,66,25,38,90,45,0,7]

In [13]:
sorted(mytuple2)

[0, 7, 25, 38, 43, 45, 66, 90]

In [14]:
mytuple2

[43, 66, 25, 38, 90, 45, 0, 7]

In [15]:
sorted(mytuple2,reverse=True)

[90, 66, 45, 43, 38, 25, 7, 0]

In [20]:
myset = {1}

In [21]:
type(myset)

set

In [22]:
myset = set()

In [23]:
type(myset)

set

In [26]:
myset = {1,2,3,4,45,45,4,3,2,2}

In [27]:
len(myset)

5

In [28]:
myset

{1, 2, 3, 4, 45}

In [33]:
my_set1=set(('one','two','three','four'))

In [34]:
my_set1

{'four', 'one', 'three', 'two'}

In [75]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

In [41]:
for i in enumerate(myset):
    print(i)

(0, 'six')
(1, 'seven')
(2, 'five')
(3, 'one')
(4, 'two')
(5, 'three')
(6, 'eight')
(7, 'four')

In [42]:
'one' in myset

True

In [43]:

'eight' in myset

True

In [44]:
'twelve' in myset

False

In [46]:
if 'ten' in myset:
    print('three is available')
else:
    print('not availble')

not availble

In [58]:
myset.add('nine')

In [59]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [60]:
myset.update([ 'eleven','twelve'])

In [61]:
myset

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'twelve',
 'two'}

In [62]:
myset.remove('two')

In [63]:
myset

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'twelve'}

In [64]:
myset.discard('seven')

In [65]:
myset

{'eight', 'eleven', 'five', 'four', 'nine', 'one', 'six', 'three', 'twelve'}

In [67]:
myset.clear()

In [68]:
myset

set()

In [69]:
del myset

In [70]:
myset

NameError: name 'myset' is not defined

In [76]:
myset1 = myset

In [77]:
id(myset1)

1434239598368

In [78]:
id(myset)

1434239598368

In [79]:
myset2 = myset.copy()

In [80]:
id(myset2)

1434246831008

In [81]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [82]:
myset.add('twenty')

In [83]:
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'twenty', 'two'}

In [84]:
myset2

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [106]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [86]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [87]:
A.intersection(B)

{4, 5}

In [88]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [89]:
A&B

{4, 5}

In [90]:
B|C

{4, 5, 6, 7, 8, 9, 10}

In [92]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [93]:
A.update(B,C)

In [94]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [95]:
A.intersection_update(B)

In [96]:
A

{4, 5, 6, 7, 8}

In [97]:
A

{4, 5, 6, 7, 8}

In [99]:
A-B

{1, 2, 3}

In [100]:
A.difference(B)

{1, 2, 3}

In [101]:
B-C

{4, 5, 6, 7}

In [102]:
B-A

{6, 7, 8}

In [103]:
B.difference(A)

{6, 7, 8}

In [104]:
B.difference_update(A)

In [105]:
B

{6, 7, 8}

In [107]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [108]:
A^B

{1, 2, 3, 6, 7, 8}

In [109]:
A.symmetric_difference_update(B)

In [110]:
A

{1, 2, 3, 6, 7, 8}

In [111]:
A = {1,2,3,4,5,6,7,8,9}

In [112]:
B = {4,5,6,7,8}

In [113]:
C = {10,20,30,40}

In [114]:
B.issubset(A)

True

In [115]:
B.issubset(C)

False

In [116]:
A.issuperset(B)

True

In [117]:
A.issuperset(C)

False

In [118]:
A.isdisjoint(C)

True

In [119]:
A.isdisjoint(B)

False

In [120]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [121]:
sum(A)

45

In [122]:
max(A)

9

In [123]:
min(A)

1

In [124]:
len(A)

9

In [126]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [129]:
d = sorted(A, reverse=True)

In [130]:
sorted(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [133]:
mydict = dict()

In [134]:
type(mydict)

dict

In [137]:
d = dict({'A':'one', "B":"two"})

In [138]:
d

{'A': 'one', 'B': 'two'}

In [139]:
d.keys()

dict_keys(['A', 'B'])

In [140]:
d.values()

dict_values(['one', 'two'])

In [141]:
d.items()

dict_items([('A', 'one'), ('B', 'two')])

In [190]:
e = {12:'twelve',36:"chtisish", "three":["four", 'five',25], "six":(25,23.69,"sanjay"),'fruit':{'mango':20,'apple':25}}

In [149]:
type(e)

dict

In [154]:
k = {'a', 'b', 'c', 'd'}

In [151]:
dict.fromkeys(k)

{'a': None, 'b': None, 'c': None, 'd': None}

In [155]:
v = [25,36,45]

In [157]:
mydict = dict.fromkeys(k,v)

In [158]:
mydict

{'c': [25, 36, 45], 'd': [25, 36, 45], 'b': [25, 36, 45], 'a': [25, 36, 45]}

In [159]:
v.append(100)

In [160]:
mydict

{'c': [25, 36, 45, 100],
 'd': [25, 36, 45, 100],
 'b': [25, 36, 45, 100],
 'a': [25, 36, 45, 100]}

In [161]:
e

{12: 'twelve',
 36: 'chtisish',
 'three': ['four', 'five', 25],
 'six': (25, 23.69, 'sanjay'),
 'fruit': {'mango': 20, 'apple': 25}}

In [162]:
e[12]

'twelve'

In [164]:
e['six']

(25, 23.69, 'sanjay')

In [165]:
e[2]

KeyError: 2

In [166]:
e.get(2)

In [167]:
e.get(36)

'chtisish'

In [168]:
e

{12: 'twelve',
 36: 'chtisish',
 'three': ['four', 'five', 25],
 'six': (25, 23.69, 'sanjay'),
 'fruit': {'mango': 20, 'apple': 25}}

In [169]:
e[12] = 'first'

e['fruit'] = 'my fruits'

In [170]:
e

{12: 'first',
 36: 'chtisish',
 'three': ['four', 'five', 25],
 'six': (25, 23.69, 'sanjay'),
 'fruit': 'my fruits'}

In [171]:
w = {'DOB':1995}

In [172]:
e.update(w)

In [173]:
e

{12: 'first',
 36: 'chtisish',
 'three': ['four', 'five', 25],
 'six': (25, 23.69, 'sanjay'),
 'fruit': 'my fruits',
 'DOB': 1995}

In [174]:
e['job'] = 'Data analyst'

In [175]:
e

{12: 'first',
 36: 'chtisish',
 'three': ['four', 'five', 25],
 'six': (25, 23.69, 'sanjay'),
 'fruit': 'my fruits',
 'DOB': 1995,
 'job': 'Data analyst'}

In [177]:
e.pop

In [178]:
e

{12: 'first',
 36: 'chtisish',
 'three': ['four', 'five', 25],
 'six': (25, 23.69, 'sanjay'),
 'fruit': 'my fruits',
 'DOB': 1995,
 'job': 'Data analyst'}

In [179]:
e.popitem()

('job', 'Data analyst')

In [180]:
e

{12: 'first',
 36: 'chtisish',
 'three': ['four', 'five', 25],
 'six': (25, 23.69, 'sanjay'),
 'fruit': 'my fruits',
 'DOB': 1995}

In [181]:
e.pop(12)

'first'

In [182]:
e

{36: 'chtisish',
 'three': ['four', 'five', 25],
 'six': (25, 23.69, 'sanjay'),
 'fruit': 'my fruits',
 'DOB': 1995}

In [183]:
del e[36]

In [184]:
e

{'three': ['four', 'five', 25],
 'six': (25, 23.69, 'sanjay'),
 'fruit': 'my fruits',
 'DOB': 1995}

In [185]:
e.clear()

In [186]:
e

{}

In [187]:
del e

In [188]:
e

NameError: name 'e' is not defined

In [189]:
e

NameError: name 'e' is not defined

In [191]:
e

{12: 'twelve',
 36: 'chtisish',
 'three': ['four', 'five', 25],
 'six': (25, 23.69, 'sanjay'),
 'fruit': {'mango': 20, 'apple': 25}}

In [194]:
for i in e:
    print( e[i])

twelve
chtisish
['four', 'five', 25]
(25, 23.69, 'sanjay')
{'mango': 20, 'apple': 25}

In [195]:
all(e)

True

In [196]:
any(e)

True

In [197]:
e[0] = 'test'

In [198]:
e

{12: 'twelve',
 36: 'chtisish',
 'three': ['four', 'five', 25],
 'six': (25, 23.69, 'sanjay'),
 'fruit': {'mango': 20, 'apple': 25},
 0: 'test'}

In [199]:
all(e)

False

In [200]:
any(e)

True

In [201]:
{i:i*3 for i in range(20)}

{0: 0,
 1: 3,
 2: 6,
 3: 9,
 4: 12,
 5: 15,
 6: 18,
 7: 21,
 8: 24,
 9: 27,
 10: 30,
 11: 33,
 12: 36,
 13: 39,
 14: 42,
 15: 45,
 16: 48,
 17: 51,
 18: 54,
 19: 57}

In [202]:
{i : i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [203]:
key=['one','two','three','four','five']
value=[1,2,3,4,5]

In [206]:
{k:v for k,v in (zip(key,value))}

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [207]:
str ='natural language provessing'

In [210]:
{k:v for k,v in (enumerate(str))}

{0: 'n',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'l',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'p',
 18: 'r',
 19: 'o',
 20: 'v',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [211]:
s = 'abcdefghijklmnopqrstuvwxyz'

In [213]:
s.split()

['abcdefghijklmnopqrstuvwxyz']

In [212]:
{i:i.upper() for i in s}

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

In [220]:
mylist = ['one', 'two', 'three', 'four', 'one', 'two', 'two', 'three', 'five', 'five', 'six', 'seven', 'six', 'seven', 'one', 'one', 'one', 'ten', 'eight', 'ten', 'nine', 'eleven', 'ten', 'ten', 'nine']

In [224]:
mylist1 = set(mylist)
mylist1 = list(mylist1)

In [218]:
mystr4 = "one two three four one two two three five five six seven six seven one"

In [219]:
mystr4.split()

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [228]:
count = [0]*len(mylist1)
my = dict()
for i in range(len(mylist1)):
    for j in range(len(mylist)):
        if mylist1[i] == mylist[j]:
            count[i] +=1
    my[mylist1[i]] = count[i]
    
print(my)

{'ten': 4, 'six': 2, 'seven': 2, 'five': 2, 'one': 5, 'two': 3, 'nine': 2, 'three': 2, 'eight': 1, 'eleven': 1, 'four': 1}

In [1]:
a = 10
b = 20

In [2]:
a+b

30

In [3]:
a-b

-10

In [4]:
a/b

0.5

In [5]:
a//b

0

In [6]:
a**b

100000000000000000000

In [10]:
(a) % (b)

10

In [11]:
5%2

1

In [12]:
a*b

200

In [13]:
a = 10
b = 20

In [14]:
a>b

False

In [15]:
a<b

True

In [16]:
a>=b

False

In [17]:
a<=b

True

In [18]:
a==b

False

In [19]:
a!=b

True

In [20]:
x = 18
y = 6

In [21]:
x&y

2

In [22]:
x|y

22

In [23]:
x^y

20

In [25]:
~x

-19

In [29]:
x>>2

4

In [28]:
x<<2

72

In [30]:
x = 20

In [31]:
x+=10

In [32]:
x

30

In [33]:
x-=20

In [34]:
x

10

In [35]:
x*=5

In [36]:
x

50

In [37]:
x/=10

In [38]:
x

5.0

In [39]:
x**=2

In [40]:
x

25.0

In [41]:
x%=5

In [42]:
x

0.0

In [43]:
x= 20

In [44]:
x//=2

In [45]:
x

10

In [46]:
x&=2

In [47]:
x

2

In [48]:
x|=2

In [49]:
x

2

In [50]:
x^=3

In [51]:
x

1

In [52]:
x= 10

In [53]:
x<<=10

In [54]:
x

10240

In [55]:
x>>=2

In [56]:
x

2560

In [57]:
mystr = 'machine lesrning is fumn'

In [58]:
'machine' in mystr

True

In [59]:
'z' in mystr

False

In [60]:
'z' not in mystr

True

In [61]:
def myfunc():
    print('hello python lovers')

In [62]:
myfunc()

hello python lovers

In [64]:
def details(name,userid,email):
    print("name is : ", name)
    print('userid id : ', userid )
    print('email id is :', email)

In [67]:
details('sanjay', 101,'abc@gmail.com')

name is :  sanjay
userid id :  101
email id is : abc@gmail.com

In [68]:
def square(n):
    n = n*n
    return n

In [69]:
square(2)

4

In [73]:
def even_odd(num):
    """This function will check odd even functality"""
    if num%2==0:
        print('number is even')
    else:
        print('numer is odd')

In [74]:
even_odd(5)

numer is odd

In [75]:
even_odd(6)

number is even

In [77]:
even_odd.__doc__

'This function will check odd even functality'

In [83]:
def fullname(fname,mname,lname):
    r = "{} {} {}".format(fname,mname,lname)
    return r

In [84]:
fullname('ravi', 'kumar', 'sharma')

'ravi kumar sharma'

In [85]:
def mycity(city = 'Mumbai'):
    print('my favourate city is :', city)

In [86]:
mycity()

my favourate city is : Mumbai

In [87]:
mycity('new delhi')

my favourate city is : new delhi

In [94]:
var1 = 100
def func():
    print(var1)
    
def func2():
    var2 = 10
    print(var1)
    print(var2)
    
def fun3():
    print(var2)

In [95]:
func()

100

In [96]:
func2()

100
10

In [97]:
fun3()

NameError: name 'var2' is not defined

In [98]:
var1 = 100
def fun4():
    var1 = 99
    print(var1)

In [99]:
fun4()

99

In [100]:
var1

100

In [110]:
list1 = [11,22,33,44,55]
def l(list1):
    del list1[1]
print(list1)    
l(list1)

print(list1)

[11, 22, 33, 44, 55]
[11, 33, 44, 55]

In [114]:
list1 = [11,22,33,44,55]
def myfunc(list1):
    list1 = [10,100,1000,10000]
    
    
print(list1)

myfunc(list1)

print(list1)

list1

[11, 22, 33, 44, 55]
[11, 22, 33, 44, 55]

[11, 22, 33, 44, 55]

In [116]:
def swap(a,b):
    temp = a
    a = b
    b = temp
    
a = 10
b = 20

swap(a,b)
a,b

(10, 20)

In [117]:
def factorial(num):
    if num<=1:
        return 1
    else:
        return num*factorial(num-1)

In [118]:
factorial(1)

1

In [119]:
factorial(2)

2

In [120]:
factorial(4)

24

In [121]:
def add(num):
    if num==0:
        return 0
    else:
        return num + add(num-1)

In [122]:
add(0)

0

In [123]:
add(5)

15

In [124]:
add(4)

10

In [125]:
def fiboacci(num):
    if num<=1:
        return num
    if num==2:
        return 1
    else:
        return (fiboacci(num-1)+fiboacci(num-2))
    
    
nums = int(input("how many fibonacci numbers you want to generate - "))


for i in range(nums):
    print(fiboacci(i))

how many fibonacci numbers you want to generate - 25
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368

In [129]:
fiboacci(25)

75025

In [136]:
def some_args(args1,args2,args3):
    print(args1)
    print(args2)
    print(args3)
my_list = [2,3]

some_args(1,*my_list)

1
2
3

In [137]:
def addone(*args):
    return sum(args)

In [138]:
addone(1,2,3)

6

In [139]:
addone(7,8,5,2,6)

28

In [145]:
l1 = [1,2,3,4,5,6,7]
l2 = [9,8,7,2,6]

In [141]:
t1 = (1,2,3,4,5,6,7)

In [143]:
addone(*l1)

28

In [144]:
addone(*t1)

28

In [147]:
addone(*l1,*l2)

60

In [148]:
def userdetails(*args):
    return args

In [149]:
userdetails('sanjay', 201, 'abc@gmail', 'data_analyst')

('sanjay', 201, 'abc@gmail', 'data_analyst')

In [150]:
def userdetails(**kwargs):
    return kwargs

In [153]:
userdetails(name='sanjay', id= 201, email= 'abc@gmail', job='data_analyst')

{'name': 'sanjay', 'id': 201, 'email': 'abc@gmail', 'job': 'data_analyst'}

In [154]:
def userdetails(**kwargs):
    for k,v in kwargs.items():
        print("{}-{}".format(k,v))

In [155]:
userdetails(name='sanjay', id= 201, email= 'abc@gmail', job='data_analyst')

name-sanjay
id-201
email-abc@gmail
job-data_analyst

In [156]:
my_dict = {'name':'sanjay', 'id': 201, 'email': 'abc@gmail', 'job':'data_analyst'}

In [158]:
userdetails(**my_dict)

name-sanjay
id-201
email-abc@gmail
job-data_analyst

In [163]:
def userdetails(licenceno , phoneno , *args, **kwargs ):
    print("licenceno :", licenceno)
    print("phoneno :", phoneno)
    j = ''
    for i in args:
        j+=i
    print('full name :', j)
        
    for k,v in kwargs.items():
        print("{}: {}".format(k,v))

In [166]:
name = ['sanjay', " ", "rohit", " ", "kumar"]
my_dict = {'name':'sanjay', 'id': 201, 'email': 'abc@gmail', 'job':'data_analyst'}

userdetails('tyhup78l',7896541236, *name, **my_dict)

licenceno : tyhup78l
phoneno : 7896541236
full name : sanjay rohit kumar
name: sanjay
id: 201
email: abc@gmail
job: data_analyst

In [167]:
def userdetails(licenceno , phoneno , *args, **kwargs ):
    print('nothing')

In [168]:
def userdetails(licenceno , phoneno ,**kwargs, *args ):
    print('nothing')

SyntaxError: invalid syntax (<ipython-input-168-500da062f57b>, line 1)

In [172]:
product = lambda x,y:x*y

In [173]:
product(5,6)

30

In [174]:
addi  = lambda  a,b,c : a+b+c

In [175]:
addi(5,8,9)

22

In [183]:
u = lambda **kwargs: sum(kwargs.values())

In [185]:
u(a = 10, b = 20, c = 30, d = 89)

149

In [191]:
def product(nums):
    total = 1
    for i in range(nums):
        total*=i
    return total

In [192]:
product(10)

0

In [193]:
def my_fun(n):
    return lambda a: a+n

In [195]:
d = my_fun(20)

In [196]:
d(5)

25

In [197]:
l1 = [1,2,3,4,5,6,7,8,9]

In [1]:
l1 = [1,2,3,4,5,6,7,8,9]
def odd(n):
    if n%2 == 1:
        return True
    else:
        return False

In [2]:
list(filter(odd,l1))

[1, 3, 5, 7, 9]

In [5]:
list(filter(lambda x:x%2==1, l1))

[1, 3, 5, 7, 9]

In [2]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [4]:
even = list(filter(lambda x:x%2==0, list1))

In [6]:
list(filter(lambda x:x%2!=0, list1))

[1, 3, 5, 7, 9]

In [22]:
list3 = ['one', 'TWO2', 'three3', 'FOUR', 'five', '88','99','102' ]

In [16]:
list(filter(lambda x:x.isupper(), list2))

['TWO', 'FOUR']

In [17]:
list(filter(lambda x:x.islower(), list2))

['one', 'three']

In [23]:
list(filter(lambda x:x.isalpha(), list3))

['one', 'FOUR', 'five']

In [27]:
list(filter(lambda x:x.isalnum(), list3))

['one', 'TWO2', 'three3', 'FOUR', 'five', '88', '99', '102']

In [31]:
list(filter(lambda x:x.isnumeric(), list3))

['88', '99', '102']

In [32]:
list1 = [1,2,3,4]

In [33]:
list2 = [5,6,7,8]

In [34]:
def double(x):
    return x+x

In [35]:
def square(x):
    return x*x

In [36]:
def add(x,y):
    return x+y

In [38]:
list(map(double,list1))

[2, 4, 6, 8]

In [40]:
list(map(square,list2))

[25, 36, 49, 64]

In [42]:
list(map(add, list1, list2))

[6, 8, 10, 12]

In [45]:
list(map(lambda x:x*x, list2))

[25, 36, 49, 64]

In [49]:
list(map(lambda x:x+x, list1))

[2, 4, 6, 8]

In [53]:
list(map(lambda x,y:x+y, list1, list2))

[6, 8, 10, 12]

In [54]:
list1

[1, 2, 3, 4]

In [55]:
from functools import reduce

In [ ]:
reduce(open)

In [58]:
reduce(lambda a,b : a if a<b else b, list1)

1

In [61]:
reduce(lambda a,b : a if a>b else b, list1)

4

In [62]:
0 and 0

0

In [65]:
reduce(lambda a,b: bool(a and b), [0,1,0,0,1])

False

In [68]:
reduce(lambda a,b : bool(a or b), [0,1,0,0,1])

True

In [69]:
class myclass():
    var = 10

In [71]:
obj1 = myclass()

In [73]:
print(obj1.var)

10

In [74]:
class Employee:
    def __init__(self,name,empid):
        self.name = name
        self.empid = empid
        
    def greet(self):
        print("Thank you for joining the company mar. {}".format(self.name))

In [77]:
emp1 = Employee('sanjay', 101)

In [78]:
emp1.empid

101

In [80]:
emp1.greet()

Thank you for joining the company mar. sanjay

In [81]:
emp1.name

'sanjay'

In [83]:
emp1.name = 'kumar'

In [84]:
emp1.name

'kumar'

In [85]:
del emp1.empid

In [86]:
del emp1

In [87]:
emp1

NameError: name 'emp1' is not defined

In [88]:
emp2 = Employee('rohit', 121)

In [89]:
emp2.empid

121

In [92]:
emp2.greet()

Thank you for joining the company mar. rohit

In [93]:
emp2.name

'rohit'

In [94]:
emp2.country = 'india'

In [95]:
emp2.country

'india'

In [116]:
 class Person:
        def __init__(self,name,age,gender):
            self.name = name
            self.age = age
            self.gender = gender
            
        def personinfo(self):
            print('the name {}'.format(self.name))
            print('the age {}'.format(self.age))
            print('the gender {}'.format(self.gender))

In [127]:
class Student(Person):
    def __init__(self, name,age,gender,studentid, fee):
        super().__init__(name,age,gender)
        self.studentid = studentid
        self.fee = fee
        
    def studentinfo(self):
        super().personinfo()
        print("the studentid id id {}".format(self.studentid))
        print('the feee of student is {}'.format(self.fee))

In [118]:
class Teacher(Person):
    def __init__(self, name,age,gender,salary,empid):
        person.__init__(self, name,age,gender)
        self.salary = salary
        self.empid = empid
        
    def teacherinfo(self):
        print('the salary is {}'.format(self.salary))
        print('the empd id is {}'.format(self.empid))

In [129]:
stud1 = Student('sanjay kumar', 35,'male', 105,55000)

In [130]:
stud1.personinfo()

the name sanjay kumar
the age 35
the gender male

In [131]:
stud1.studentinfo()

the name sanjay kumar
the age 35
the gender male
the studentid id id 105
the feee of student is 55000

In [123]:
tea = Teacher('ravi', 32,'female', 65000, 101)

In [124]:
tea.personinfo()

the name ravi
the age 32
the gender female

In [125]:

tea.teacherinfo()

the salary is 65000
the empd id is 101

In [159]:
class Person():
    def __init__(self, name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender
    def personinfo(self):
        print("person name {}".format(self.name))
        print('person age  {}'.format(self.age))
        print('person gender {}'.format(self.gender))
        
        
class Employee(Person):
    def __init__(self,name,age,gender,empid, salary):
        super().__init__(name,age,gender)
        self.salary = salary
        self.empid = empid
        
    def employeeInfo(self):
        super().personinfo()
        print('employee salary {}'.format(self.salary))
        print("employee id {}".format(self.empid))
        
        
        
class Fulltime(Employee):
    def __init__(self,name,age,gender,empid,salary,experience):
        Employee.__init__(self,name,age,gender,empid,salary)
        self.experience = experience
        
    def fulltimeInfo(self):
        print("full timne informatrion {}".format(self.experience))
        
        
    
    
    
class Contractual(Employee):
    def __init__(self,name,age,gender,empid,salary,contractexpiry):
        Employee.__init__(self,name,age,gender,empid,salary)
        self.contractexpiry = contractexpiry
        
    def contractInfo(self):
        print("The expiry date is {}".format(self.contractexpiry))

In [160]:
con1 = Contractual('kishor', 25, 'male', 123, 45000, '12-01-2025')

In [161]:
con1.personinfo()

person name kishor
person age  25
person gender male

In [162]:
con1.employeeInfo()

person name kishor
person age  25
person gender male
employee salary 45000
employee id 123

In [163]:
con1.contractInfo()

The expiry date is 12-01-2025

In [164]:
ful = Fulltime('rohit', 32,'female', 258,78000,'04')

In [165]:
ful.personinfo()

person name rohit
person age  32
person gender female

In [166]:
ful.employeeInfo()

person name rohit
person age  32
person gender female
employee salary 78000
employee id 258

In [167]:
ful.fulltimeInfo()

full timne informatrion 04

In [18]:
class Father:
    def __init__(self):
        self.fathername=str()
        
class Mother:
    def __init__(self):
        self.mothername = str()
        
class Son(Father , Mother):
    name = str()
    def show(self):
        print('my name', self.name)
        print("father name", self.fathername)
        print("mother name", self.mothername)
        
        
s1 =  Son()

In [19]:
s1.fathername = 'john'

In [20]:
s1.name = 'bill'

In [21]:
s1.show()

my name bill
father name john

AttributeError: 'Son' object has no attribute 'mothername'

In [25]:
class CurrentDate:
    def __init__(self,date):
        self.date = date

In [26]:
class CurrentTime:
    def __init__(self,time):
        self.time = time

In [27]:
class timestamp(CurrentDate,CurrentTime):
    def __init__(self,date,time):
        CurrentDate.__init__(self,date)
        CurrentTime.__init__(self,time)
        Datetime = self.date + " " + self.time
        print(Datetime)

In [28]:
import time

In [30]:
from datetime import datetime

In [31]:
datetime.now()

datetime.datetime(2022, 5, 23, 17, 17, 29, 63064)

In [34]:
t1 =timestamp('23-05-2022', '17:18:29:63064')

23-05-2022 17:18:29:63064

In [35]:
assert?

Object `assert` not found.

In [37]:
l = [2,5,6]

In [38]:
2 in l

True

In [39]:
assert 2 in l

In [40]:
assert 9 in l

AssertionError:

In [42]:
'd'  in "dfghjkl"

True

In [57]:
mytuple=('Asif','Basit','John','Michael')

In [45]:
iter_list = iter(mylist)

In [46]:
next(iter_list)

'Asif'

In [47]:
next(iter_list)

'Basit'

In [48]:
next(iter_list)

'John'

In [51]:
iter_list.__next__()

StopIteration:

In [54]:
iter_list = iter(mylist)

In [55]:
for i in iter_list:
    print(i)

Asif
Basit
John
Michael

In [56]:
for i in mylist:
    print(i)

Asif
Basit
John
Michael

In [58]:
for i in mytuple:
    print(i)

Asif
Basit
John
Michael

In [65]:
class myiter:
    def __init__(self):
        self.num = 0
        
    def __iter__(self):
        self.num = 1
        return self
    
    def __next__(self):
        if self.num<=10:
            self.num+=1
            var = self.num
            return var
        else:
            raise StopIteration

In [66]:
mynum = myiter()

In [67]:
iter1 = iter(mynum)

In [68]:
for i in iter1:
    print(i)

2
3
4
5
6
7
8
9
10
11

In [69]:
class myiter:
    def __init__(self):
        self.num = 0
        
    def __iter__(self):
        self.num = 1
        return self
    
    def __next__(self):
        if self.num<=20:
            val = self.num
            self.num+=2
            return val
        else:
            raise StopIteration

In [70]:
mynum1 = myiter()

In [72]:
iter2 = iter(mynum1)

In [73]:
for i in iter2:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [2]:
def mygen():
    n = 1
    yield n
    
    n+=1
    yield n
    
    n+=1
    yield n
    
    n+=1
    yield n
    
    n+=1
    yield

In [4]:
mygen1 = mygen()

In [5]:
next(mygen1)

1

In [6]:
next(mygen1)

2

In [7]:
next(mygen1)

3

In [8]:
next(mygen1)

4

In [10]:
next(mygen1)

StopIteration:

In [11]:
def mygen():
    for i in range(20):
        yield i

In [12]:
mygen1 = mygen()

In [13]:
for i in mygen1:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [16]:
num = list(mygen())

In [17]:
def mygen():
    for i in range(20):
        if i%2==0:
            yield i

In [18]:
mygen1 = mygen()

In [19]:
for i in mygen1:
    print(i)

0
2
4
6
8
10
12
14
16
18

In [20]:
def myfibo():
    num1, num2 = 0,1
    count = 0
    while count<10:
        yield num1
        num1, num2 =  num2, num1+num2
        count+=1

In [21]:
fibo = myfibo()

In [22]:
for i in fibo:
    print(i)

0
1
1
2
3
5
8
13
21
34

In [24]:
list(myfibo())

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [31]:
gen = (i**2 for i in range(20))

In [29]:
for i in gen:
    print(i)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [43]:
next(gen)

121

In [45]:
gen = (i for i in range(10) if i%2==0)

In [51]:
next(gen)

StopIteration:

In [53]:
def subtract(num1, num2):
    res = num1 - num2 
    print('the result is :', res)

In [54]:
subtract(4,2)

the result is : 2

In [55]:
subtract(2,4)

the result is : -2

In [56]:
def sub_decorator(func):
    def wrapper(num1, num2):
        if num1<num2:
            num1, num2 = num2, num1
            return func(num1,num2)
    return wrapper

In [58]:
dec = sub_decorator(subtract)

In [59]:
dec(2,4)

the result is : 2

In [60]:
@sub_decorator
def subtract(num1, num2):
    res = num1 - num2 
    print('the result is :', res)

In [61]:
subtract(2,4)

the result is : 2

In [73]:
@installdecorator
def installlinux():
    print('linux installation has started')

In [69]:
def installdecorator(func):
    def wrapper():
        print('Please accept terms and conditions')
        return func()
    return wrapper

In [70]:
@installdecorator
def installwindow():
    print('windows installation has started')

In [71]:
@installdecorator
def installlac():
    print('lac installion has started')

In [74]:
installlinux()

Please accept terms and conditions
linux installation has started

In [75]:
installwindow()

Please accept terms and conditions
windows installation has started

In [77]:
installlac()

Please accept terms and conditions
lac installion has started

In [84]:
def dec1(func):
    def wrapper():
        print('please provide lincence number as well')
        return func()
    return wrapper

In [85]:
def dec2(func):
    def wrapper():
        print('please provide key number as well')
        return func()
    return wrapper

In [86]:
def dec3(func):
    def wrapper():
        print('please provide value number as well')
        return func()
    return wrapper

In [89]:
@dec3
@dec1
@dec2
@installdecorator
def installwindow():
    print('windows installation has started')

In [90]:
installwindow()

please provide value number as well
please provide lincence number as well
please provide key number as well
Please accept terms and conditions
windows installation has started

In [97]:
f = open('test1.txt', 'a')

In [98]:
f.close()

In [100]:
t = open('test1.txt', 'r')

In [101]:
t.read()

'qwertyuiosdfghjklsdfghjkl\nqwertyuisdfghjkxcvbnm,\nqwertyuiosdfghjklxcvbnm,.\nertyuidfghjkl aasdfghjk zxcvbnm, qwertyuio '

In [102]:
t.read()

''

In [114]:
t.seek(9)

9

In [115]:
t.read(10)

'sdfghjklsd'

In [116]:
t.tell()

19

In [117]:
t.seek(0)

0

In [118]:
t.readline()

'qwertyuiosdfghjklsdfghjkl\n'

In [119]:
t.readline()

'qwertyuisdfghjkxcvbnm,\n'

In [120]:
t.readline()

'qwertyuiosdfghjklxcvbnm,.\n'

In [122]:
t.seek(0)

0

In [123]:
t.readlines()

['qwertyuiosdfghjklsdfghjkl\n',
 'qwertyuisdfghjkxcvbnm,\n',
 'qwertyuiosdfghjklxcvbnm,.\n',
 'ertyuidfghjkl aasdfghjk zxcvbnm, qwertyuio ']

In [125]:
t.seek(0)

count = 0

for i in range(5):
    if count<5:
        print(t.readline())
    else:
        break
    count+=1

qwertyuiosdfghjklsdfghjkl

qwertyuisdfghjkxcvbnm,

qwertyuiosdfghjklxcvbnm,.

ertyuidfghjkl aasdfghjk zxcvbnm, qwertyuio

In [126]:
t.seek(0)

count =  0

for i in t.readlines():
    if count<5:
        print(i)
    else:
        break
        
    count+=1

qwertyuiosdfghjklsdfghjkl

qwertyuisdfghjkxcvbnm,

qwertyuiosdfghjklxcvbnm,.

ertyuidfghjkl aasdfghjk zxcvbnm, qwertyuio

In [137]:
fileobje = open('test1.txt', 'a')

In [138]:
fileobje.write('\n this content is being appended')

32

In [139]:
fileobje.closed

False

In [140]:
fileobje.close()

In [141]:
y = open('test1.txt', 'r')

In [142]:
y.readlines()

['qwertyuiosdfghjklsdfghjkl\n',
 'qwertyuisdfghjkxcvbnm,\n',
 'qwertyuiosdfghjklxcvbnm,.\n',
 'ertyuidfghjkl aasdfghjk zxcvbnm, qwertyuio this content is being appended\n',
 ' this content is being appended']

In [143]:
y.close()

In [144]:
y = open('test1.txt', 'w')

In [145]:
y.write('new content is being overwrite')

30

In [150]:
y.close()

In [152]:
y = open('test1.txt')

In [153]:
y.read()

'new content is being overwrite'

In [154]:
u = open('test2.txt', 'w')

In [155]:
u.write('first line \n')
u.write('second line \n')
u.write('third line \n')
u.write('fourth line \n')
u.write('fifth line \n')

12

In [156]:
u.close()

In [158]:
u = open('test2.txt')

In [159]:
u.readlines()

['first line \n',
 'second line \n',
 'third line \n',
 'fourth line \n',
 'fifth line \n']

In [160]:
import os

In [172]:
os.remove('test1.txt')

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'test1.txt'

In [163]:
y.closed

False

In [164]:
y.close()

In [166]:
u.close()

In [171]:
os.remove('test2.txt')

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'test2.txt'

In [169]:
t.close()

In [170]:
f.close()

In [173]:
os.remove('test.csv')

In [174]:
os.rmdir('mlfolder/')

In [184]:
try:
    print(100/1)
except:
    print(sys.exc_info()[1], 'Exception occured')
else:
    print('no exception occured')
finally:
    print('run this code of block always')

100.0
no exception occured
run this code of block always

In [177]:
import sys

In [190]:
try:
    print(x)
except:
    print(sys.exc_info()[1],'variable error occured')

name 'x' is not defined variable error occured

In [197]:
try:
    os.remove('new1.txt')
except:
    print('Below error occured')
    print(sys.exc_info()[1])
else:
    print('no exception occured')
finally:
    print('run this code block always')

Below error occured
[WinError 2] The system cannot find the file specified: 'new1.txt'
run this code block always

In [205]:
try:
    x = int(input('Enter your first number :', ))
    y = int(input('Enter your first number :', ))
    print(x/y)
    os.remove('u.txt')
except NameError:
    print('name error exception error occured')
except FileNotFoundError:
    print('file not found error')
except ZeroDivisionError:
    print('zero division error')

Enter your first number :10
Enter your first number :0
zero division error

In [211]:
try:
    x = int(input('enter first number: '))
    if x>50:
        raise ValueError(x)
except:
    print(sys.exc_info()[0])

enter first number: 100
<class 'ValueError'>

In [217]:
try:
    import math
    print(math.exp(1000))
except OverflowError:
    print(sys.exc_info())
else:
    print('success', 'no error')

(<class 'OverflowError'>, OverflowError('math range error'), <traceback object at 0x000002AC063C53C0>)

In [218]:
try:
    a = 50
    b = 'sanjay'
    assert a==b
except AssertionError:
    print('assertion error occured')

assertion error occured

In [219]:
try:
    import mymodule
except ModuleNotFoundError:
    print('module error')

module error

In [221]:
try:
    dic = {1:'machine', 2:'learning', 3:'computer'}
    print(dic[4])
except KeyError:
    print('error')

error

In [222]:
try:
    ltt = [1,2,3,4]
    print(ltt[6])
except IndexError:
    print('error')

error

In [223]:
try:
    a = 50
    b = 'sanjay'
    print(a/b)
except TypeError:
    print('error1')

error1

In [224]:
try:
    a = 10
    b = a.upper()
    print(b)
except AttributeError:
    print('error')

error