In [1]:
import sqlite3

In [2]:
sqlite3.connect('inueron.db')

In [3]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 9640-2F36

 Directory of C:\Users\nimbu\Documents\Python_script

05/02/2022  04:20 PM    <DIR>          .
04/28/2022  10:19 AM    <DIR>          ..
05/02/2022  10:50 AM    <DIR>          .ipynb_checkpoints
04/13/2022  12:31 PM    <DIR>          blue
04/28/2022  06:03 PM             5,963 car_evaluation.csv
04/28/2022  06:11 PM            53,631 cardata.csv
04/14/2022  12:35 PM    <DIR>          Courier invoices
04/21/2022  06:55 PM    <DIR>          courier_bill
04/22/2022  12:46 PM           170,781 Courierwise Shipment bill compilation.ipynb
04/20/2022  03:08 PM    <DIR>          development
04/20/2022  03:05 PM           612,069 development.zip
04/21/2022  07:44 PM         2,902,669 DTDC_finall_march_22.csv
04/22/2022  10:48 AM         2,898,050 DTDC_finalll_march_22.csv
04/25/2022  10:39 AM    <DIR>          ecomm
04/27/2022  01:58 PM    <DIR>          employee_practice
04/25/2022  02:26 PM    <DIR>          final
04/11/2022  06:08 PM    <DIR>          finance
04/27/2022  05:13 PM            11,903 glass (1).data
04/27/2022  04:32 PM            10,053 glass.csv
05/02/2022  04:20 PM                 0 inueron.db
04/21/2022  12:53 PM    <DIR>          newemployee
05/02/2022  03:16 PM    <DIR>          nimbus
04/04/2022  03:08 PM         1,226,775 pickerr_nimbus_data.csv
04/26/2022  10:34 AM    <DIR>          sales
04/01/2022  04:34 PM           373,757 shopifyorderdata.csv
04/26/2022  04:36 PM               121 SourcewiseLeadCount.csv
05/02/2022  04:18 PM            45,270 SQLLITE _map ,reduce ,filter,zip.ipynb
05/02/2022  04:19 PM               605 SQLLITE.ipynb
              14 File(s)      8,311,647 bytes
              14 Dir(s)  406,964,547,584 bytes free

In [4]:
db = sqlite3.connect('marketing.db')

In [5]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 9640-2F36

 Directory of C:\Users\nimbu\Documents\Python_script

05/02/2022  04:23 PM    <DIR>          .
04/28/2022  10:19 AM    <DIR>          ..
05/02/2022  04:21 PM    <DIR>          .ipynb_checkpoints
04/13/2022  12:31 PM    <DIR>          blue
04/28/2022  06:03 PM             5,963 car_evaluation.csv
04/28/2022  06:11 PM            53,631 cardata.csv
04/14/2022  12:35 PM    <DIR>          Courier invoices
04/21/2022  06:55 PM    <DIR>          courier_bill
04/22/2022  12:46 PM           170,781 Courierwise Shipment bill compilation.ipynb
04/20/2022  03:08 PM    <DIR>          development
04/20/2022  03:05 PM           612,069 development.zip
04/21/2022  07:44 PM         2,902,669 DTDC_finall_march_22.csv
04/22/2022  10:48 AM         2,898,050 DTDC_finalll_march_22.csv
04/25/2022  10:39 AM    <DIR>          ecomm
04/27/2022  01:58 PM    <DIR>          employee_practice
04/25/2022  02:26 PM    <DIR>          final
04/11/2022  06:08 PM    <DIR>          finance
04/27/2022  05:13 PM            11,903 glass (1).data
04/27/2022  04:32 PM            10,053 glass.csv
05/02/2022  04:20 PM                 0 inueron.db
05/02/2022  04:23 PM                 0 marketing.db
04/21/2022  12:53 PM    <DIR>          newemployee
05/02/2022  03:16 PM    <DIR>          nimbus
04/04/2022  03:08 PM         1,226,775 pickerr_nimbus_data.csv
04/26/2022  10:34 AM    <DIR>          sales
04/01/2022  04:34 PM           373,757 shopifyorderdata.csv
04/26/2022  04:36 PM               121 SourcewiseLeadCount.csv
05/02/2022  04:21 PM            45,282 SQLLITE _map ,reduce ,filter,zip.ipynb
05/02/2022  04:23 PM             3,682 SQLLITE.ipynb
              15 File(s)      8,314,736 bytes
              14 Dir(s)  406,963,486,720 bytes free

In [6]:
cursor = db.cursor()

In [7]:
cursor.execute('create table fsdas(name text, batchid int, marks rael)')

In [12]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 9640-2F36

 Directory of C:\Users\nimbu\Documents\Python_script

05/02/2022  04:31 PM    <DIR>          .
04/28/2022  10:19 AM    <DIR>          ..
05/02/2022  04:21 PM    <DIR>          .ipynb_checkpoints
04/13/2022  12:31 PM    <DIR>          blue
04/28/2022  06:03 PM             5,963 car_evaluation.csv
04/28/2022  06:11 PM            53,631 cardata.csv
04/14/2022  12:35 PM    <DIR>          Courier invoices
04/21/2022  06:55 PM    <DIR>          courier_bill
04/22/2022  12:46 PM           170,781 Courierwise Shipment bill compilation.ipynb
04/20/2022  03:08 PM    <DIR>          development
04/20/2022  03:05 PM           612,069 development.zip
04/21/2022  07:44 PM         2,902,669 DTDC_finall_march_22.csv
04/22/2022  10:48 AM         2,898,050 DTDC_finalll_march_22.csv
04/25/2022  10:39 AM    <DIR>          ecomm
04/27/2022  01:58 PM    <DIR>          employee_practice
04/25/2022  02:26 PM    <DIR>          final
04/11/2022  06:08 PM    <DIR>          finance
04/27/2022  05:13 PM            11,903 glass (1).data
04/27/2022  04:32 PM            10,053 glass.csv
05/02/2022  04:20 PM                 0 inueron.db
05/02/2022  04:29 PM             8,192 marketing.db
04/21/2022  12:53 PM    <DIR>          newemployee
05/02/2022  03:16 PM    <DIR>          nimbus
04/04/2022  03:08 PM         1,226,775 pickerr_nimbus_data.csv
04/26/2022  10:34 AM    <DIR>          sales
04/01/2022  04:34 PM           373,757 shopifyorderdata.csv
04/26/2022  04:36 PM               121 SourcewiseLeadCount.csv
05/02/2022  04:21 PM            45,282 SQLLITE _map ,reduce ,filter,zip.ipynb
05/02/2022  04:31 PM             7,448 SQLLITE.ipynb
              15 File(s)      8,326,694 bytes
              14 Dir(s)  406,962,487,296 bytes free

In [15]:
cursor.execute("insert into fsdas values('sanjay', 3536, 98.78)")

In [23]:
cursor.execute("insert into fsdas values('sanjay', 3536, 98.78)")
cursor.execute("insert into fsdas values('sanjay', 3536, 98.78)")
cursor.execute("insert into fsdas values('sanjay', 3536, 98.78)")
cursor.execute("insert into fsdas values('sanjay', 3536, 98.78)")
cursor.execute("insert into fsdas values('sanjay', 3536, 98.78)")
cursor.execute("insert into fsdas values('sanjay', 3536, 98.78)")

In [26]:
data = cursor.execute('select * from fsdas')

In [27]:
for i in data:
    print(i)

('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)

In [28]:
mkdir promotion

In [29]:
db.commit()

In [30]:
db.close()

In [31]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 9640-2F36

 Directory of C:\Users\nimbu\Documents\Python_script

05/02/2022  04:41 PM    <DIR>          .
04/28/2022  10:19 AM    <DIR>          ..
05/02/2022  04:21 PM    <DIR>          .ipynb_checkpoints
04/13/2022  12:31 PM    <DIR>          blue
04/28/2022  06:03 PM             5,963 car_evaluation.csv
04/28/2022  06:11 PM            53,631 cardata.csv
04/14/2022  12:35 PM    <DIR>          Courier invoices
04/21/2022  06:55 PM    <DIR>          courier_bill
04/22/2022  12:46 PM           170,781 Courierwise Shipment bill compilation.ipynb
04/20/2022  03:08 PM    <DIR>          development
04/20/2022  03:05 PM           612,069 development.zip
04/21/2022  07:44 PM         2,902,669 DTDC_finall_march_22.csv
04/22/2022  10:48 AM         2,898,050 DTDC_finalll_march_22.csv
04/25/2022  10:39 AM    <DIR>          ecomm
04/27/2022  01:58 PM    <DIR>          employee_practice
04/25/2022  02:26 PM    <DIR>          final
04/11/2022  06:08 PM    <DIR>          finance
04/27/2022  05:13 PM            11,903 glass (1).data
04/27/2022  04:32 PM            10,053 glass.csv
05/02/2022  04:20 PM                 0 inueron.db
05/02/2022  04:40 PM             8,192 marketing.db
04/21/2022  12:53 PM    <DIR>          newemployee
05/02/2022  03:16 PM    <DIR>          nimbus
04/04/2022  03:08 PM         1,226,775 pickerr_nimbus_data.csv
05/02/2022  04:39 PM    <DIR>          promotion
04/26/2022  10:34 AM    <DIR>          sales
04/01/2022  04:34 PM           373,757 shopifyorderdata.csv
04/26/2022  04:36 PM               121 SourcewiseLeadCount.csv
05/02/2022  04:21 PM            45,282 SQLLITE _map ,reduce ,filter,zip.ipynb
05/02/2022  04:41 PM            11,909 SQLLITE.ipynb
              15 File(s)      8,331,155 bytes
              15 Dir(s)  406,962,282,496 bytes free

In [32]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 9640-2F36

 Directory of C:\Users\nimbu\Documents\Python_script

05/02/2022  04:43 PM    <DIR>          .
04/28/2022  10:19 AM    <DIR>          ..
05/02/2022  04:21 PM    <DIR>          .ipynb_checkpoints
04/13/2022  12:31 PM    <DIR>          blue
04/28/2022  06:03 PM             5,963 car_evaluation.csv
04/28/2022  06:11 PM            53,631 cardata.csv
04/14/2022  12:35 PM    <DIR>          Courier invoices
04/21/2022  06:55 PM    <DIR>          courier_bill
04/22/2022  12:46 PM           170,781 Courierwise Shipment bill compilation.ipynb
04/20/2022  03:08 PM    <DIR>          development
04/20/2022  03:05 PM           612,069 development.zip
04/21/2022  07:44 PM         2,902,669 DTDC_finall_march_22.csv
04/22/2022  10:48 AM         2,898,050 DTDC_finalll_march_22.csv
04/25/2022  10:39 AM    <DIR>          ecomm
04/27/2022  01:58 PM    <DIR>          employee_practice
04/25/2022  02:26 PM    <DIR>          final
04/11/2022  06:08 PM    <DIR>          finance
04/27/2022  05:13 PM            11,903 glass (1).data
04/27/2022  04:32 PM            10,053 glass.csv
05/02/2022  04:20 PM                 0 inueron.db
05/02/2022  04:40 PM             8,192 marketing.db
04/21/2022  12:53 PM    <DIR>          newemployee
05/02/2022  03:16 PM    <DIR>          nimbus
04/04/2022  03:08 PM         1,226,775 pickerr_nimbus_data.csv
05/02/2022  04:39 PM    <DIR>          promotion
04/26/2022  10:34 AM    <DIR>          sales
04/01/2022  04:34 PM           373,757 shopifyorderdata.csv
04/26/2022  04:36 PM               121 SourcewiseLeadCount.csv
05/02/2022  04:21 PM            45,282 SQLLITE _map ,reduce ,filter,zip.ipynb
05/02/2022  04:43 PM            14,405 SQLLITE.ipynb
              15 File(s)      8,333,651 bytes
              15 Dir(s)  406,997,491,712 bytes free

In [33]:
db = sqlite3.connect('marketing.db')

In [34]:
cursor = db.cursor()

In [39]:
for i in cursor.execute('select * from fsdas where marks > 400'):
    print(i)

In [41]:
data = cursor.execute('select * from fsdas')

In [42]:
for i in data:
    print(i)

('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)

In [49]:
s = cursor.execute("select * from fsdas where marks>50")

In [50]:
for i in s:
    print(i)

('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)

In [52]:
for i in cursor.execute("select * from fsdas where name = 'sanjay' "):
    print(i)

('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)

In [54]:
for i  in cursor.execute("select name, marks from fsdas"):
    print(i)

('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)

In [58]:
f  = cursor.execute("select name,marks from fsdas order by marks desc")

In [59]:
for i in f:
    print(i)

('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)
('sanjay', 98.78)

In [60]:
db.close()

In [61]:
db = sqlite3.connect('person.db')

In [62]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 9640-2F36

 Directory of C:\Users\nimbu\Documents\Python_script

05/02/2022  05:05 PM    <DIR>          .
04/28/2022  10:19 AM    <DIR>          ..
05/02/2022  04:21 PM    <DIR>          .ipynb_checkpoints
04/13/2022  12:31 PM    <DIR>          blue
04/28/2022  06:03 PM             5,963 car_evaluation.csv
04/28/2022  06:11 PM            53,631 cardata.csv
04/14/2022  12:35 PM    <DIR>          Courier invoices
04/21/2022  06:55 PM    <DIR>          courier_bill
04/22/2022  12:46 PM           170,781 Courierwise Shipment bill compilation.ipynb
04/20/2022  03:08 PM    <DIR>          development
04/20/2022  03:05 PM           612,069 development.zip
04/21/2022  07:44 PM         2,902,669 DTDC_finall_march_22.csv
04/22/2022  10:48 AM         2,898,050 DTDC_finalll_march_22.csv
04/25/2022  10:39 AM    <DIR>          ecomm
04/27/2022  01:58 PM    <DIR>          employee_practice
04/25/2022  02:26 PM    <DIR>          final
04/11/2022  06:08 PM    <DIR>          finance
04/27/2022  05:13 PM            11,903 glass (1).data
04/27/2022  04:32 PM            10,053 glass.csv
05/02/2022  04:20 PM                 0 inueron.db
05/02/2022  04:40 PM             8,192 marketing.db
04/21/2022  12:53 PM    <DIR>          newemployee
05/02/2022  03:16 PM    <DIR>          nimbus
05/02/2022  05:05 PM                 0 person.db
04/04/2022  03:08 PM         1,226,775 pickerr_nimbus_data.csv
05/02/2022  04:39 PM    <DIR>          promotion
04/26/2022  10:34 AM    <DIR>          sales
04/01/2022  04:34 PM           373,757 shopifyorderdata.csv
04/26/2022  04:36 PM               121 SourcewiseLeadCount.csv
05/02/2022  04:21 PM            45,282 SQLLITE _map ,reduce ,filter,zip.ipynb
05/02/2022  05:03 PM            22,639 SQLLITE.ipynb
              16 File(s)      8,341,885 bytes
              15 Dir(s)  406,986,780,672 bytes free

In [63]:
cursor = db.cursor()

In [65]:
cursor.execute("create table persontable(name text, email text, age int, salary real)")

In [66]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 9640-2F36

 Directory of C:\Users\nimbu\Documents\Python_script

05/02/2022  05:06 PM    <DIR>          .
04/28/2022  10:19 AM    <DIR>          ..
05/02/2022  04:21 PM    <DIR>          .ipynb_checkpoints
04/13/2022  12:31 PM    <DIR>          blue
04/28/2022  06:03 PM             5,963 car_evaluation.csv
04/28/2022  06:11 PM            53,631 cardata.csv
04/14/2022  12:35 PM    <DIR>          Courier invoices
04/21/2022  06:55 PM    <DIR>          courier_bill
04/22/2022  12:46 PM           170,781 Courierwise Shipment bill compilation.ipynb
04/20/2022  03:08 PM    <DIR>          development
04/20/2022  03:05 PM           612,069 development.zip
04/21/2022  07:44 PM         2,902,669 DTDC_finall_march_22.csv
04/22/2022  10:48 AM         2,898,050 DTDC_finalll_march_22.csv
04/25/2022  10:39 AM    <DIR>          ecomm
04/27/2022  01:58 PM    <DIR>          employee_practice
04/25/2022  02:26 PM    <DIR>          final
04/11/2022  06:08 PM    <DIR>          finance
04/27/2022  05:13 PM            11,903 glass (1).data
04/27/2022  04:32 PM            10,053 glass.csv
05/02/2022  04:20 PM                 0 inueron.db
05/02/2022  04:40 PM             8,192 marketing.db
04/21/2022  12:53 PM    <DIR>          newemployee
05/02/2022  03:16 PM    <DIR>          nimbus
05/02/2022  05:06 PM             8,192 person.db
04/04/2022  03:08 PM         1,226,775 pickerr_nimbus_data.csv
05/02/2022  04:39 PM    <DIR>          promotion
04/26/2022  10:34 AM    <DIR>          sales
04/01/2022  04:34 PM           373,757 shopifyorderdata.csv
04/26/2022  04:36 PM               121 SourcewiseLeadCount.csv
05/02/2022  04:21 PM            45,282 SQLLITE _map ,reduce ,filter,zip.ipynb
05/02/2022  05:05 PM            25,718 SQLLITE.ipynb
              16 File(s)      8,353,156 bytes
              15 Dir(s)  406,986,543,104 bytes free

In [68]:
cursor.execute("insert into persontable values('sudh', 'sudh@gmail.com', 35, 15000)")

In [70]:
cursor.execute("insert into persontable values('prashant', 'prashant@gmail.com', 38, 20000)")
cursor.execute("insert into persontable values('rohit', 'rohit@gmail.com', 37, 30000)")
cursor.execute("insert into persontable values('mukesh', 'mukesh@gmail.com', 36, 35000)")
cursor.execute("insert into persontable values('jon', 'jonh@gmail.com', 40, 25000)")
cursor.execute("insert into persontable values('mak', 'makh@gmail.com', 50, 45000)")
cursor.execute("insert into persontable values('sam', 'sam@gmail.com', 30, 50000)")
cursor.execute("insert into persontable values('don', 'don@gmail.com', 20, 10000)")

In [72]:
for i in cursor.execute("select * from persontable"):
    print(i)

('sudh', 'sudh@gmail.com', 35, 15000.0)
('prashant', 'prashant@gmail.com', 38, 20000.0)
('prashant', 'prashant@gmail.com', 38, 20000.0)
('rohit', 'rohit@gmail.com', 37, 30000.0)
('mukesh', 'mukesh@gmail.com', 36, 35000.0)
('jon', 'jonh@gmail.com', 40, 25000.0)
('mak', 'makh@gmail.com', 50, 45000.0)
('sam', 'sam@gmail.com', 30, 50000.0)
('don', 'don@gmail.com', 20, 10000.0)

In [73]:
db.commit()

In [74]:
db.close()

In [75]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 9640-2F36

 Directory of C:\Users\nimbu\Documents\Python_script

05/02/2022  05:13 PM    <DIR>          .
04/28/2022  10:19 AM    <DIR>          ..
05/02/2022  04:21 PM    <DIR>          .ipynb_checkpoints
04/13/2022  12:31 PM    <DIR>          blue
04/28/2022  06:03 PM             5,963 car_evaluation.csv
04/28/2022  06:11 PM            53,631 cardata.csv
04/14/2022  12:35 PM    <DIR>          Courier invoices
04/21/2022  06:55 PM    <DIR>          courier_bill
04/22/2022  12:46 PM           170,781 Courierwise Shipment bill compilation.ipynb
04/20/2022  03:08 PM    <DIR>          development
04/20/2022  03:05 PM           612,069 development.zip
04/21/2022  07:44 PM         2,902,669 DTDC_finall_march_22.csv
04/22/2022  10:48 AM         2,898,050 DTDC_finalll_march_22.csv
04/25/2022  10:39 AM    <DIR>          ecomm
04/27/2022  01:58 PM    <DIR>          employee_practice
04/25/2022  02:26 PM    <DIR>          final
04/11/2022  06:08 PM    <DIR>          finance
04/27/2022  05:13 PM            11,903 glass (1).data
04/27/2022  04:32 PM            10,053 glass.csv
05/02/2022  04:20 PM                 0 inueron.db
05/02/2022  04:40 PM             8,192 marketing.db
04/21/2022  12:53 PM    <DIR>          newemployee
05/02/2022  03:16 PM    <DIR>          nimbus
05/02/2022  05:13 PM             8,192 person.db
04/04/2022  03:08 PM         1,226,775 pickerr_nimbus_data.csv
05/02/2022  04:39 PM    <DIR>          promotion
04/26/2022  10:34 AM    <DIR>          sales
04/01/2022  04:34 PM           373,757 shopifyorderdata.csv
04/26/2022  04:36 PM               121 SourcewiseLeadCount.csv
05/02/2022  04:21 PM            45,282 SQLLITE _map ,reduce ,filter,zip.ipynb
05/02/2022  05:11 PM            30,914 SQLLITE.ipynb
              16 File(s)      8,358,352 bytes
              15 Dir(s)  406,986,858,496 bytes free

In [76]:
db = sqlite3.connect("marketing.db")

In [77]:
cursor = db.cursor()

In [79]:

for i in cursor.execute("select * from fsdas"):
    print(i)

('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)
('sanjay', 3536, 98.78)

In [80]:
cursor.execute("drop table fsdas")

In [81]:
cursor.execute("select * from fsdas")

OperationalError: no such table: fsdas

In [82]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 9640-2F36

 Directory of C:\Users\nimbu\Documents\Python_script

05/02/2022  05:15 PM    <DIR>          .
04/28/2022  10:19 AM    <DIR>          ..
05/02/2022  04:21 PM    <DIR>          .ipynb_checkpoints
04/13/2022  12:31 PM    <DIR>          blue
04/28/2022  06:03 PM             5,963 car_evaluation.csv
04/28/2022  06:11 PM            53,631 cardata.csv
04/14/2022  12:35 PM    <DIR>          Courier invoices
04/21/2022  06:55 PM    <DIR>          courier_bill
04/22/2022  12:46 PM           170,781 Courierwise Shipment bill compilation.ipynb
04/20/2022  03:08 PM    <DIR>          development
04/20/2022  03:05 PM           612,069 development.zip
04/21/2022  07:44 PM         2,902,669 DTDC_finall_march_22.csv
04/22/2022  10:48 AM         2,898,050 DTDC_finalll_march_22.csv
04/25/2022  10:39 AM    <DIR>          ecomm
04/27/2022  01:58 PM    <DIR>          employee_practice
04/25/2022  02:26 PM    <DIR>          final
04/11/2022  06:08 PM    <DIR>          finance
04/27/2022  05:13 PM            11,903 glass (1).data
04/27/2022  04:32 PM            10,053 glass.csv
05/02/2022  04:20 PM                 0 inueron.db
05/02/2022  05:15 PM             8,192 marketing.db
04/21/2022  12:53 PM    <DIR>          newemployee
05/02/2022  03:16 PM    <DIR>          nimbus
05/02/2022  05:13 PM             8,192 person.db
04/04/2022  03:08 PM         1,226,775 pickerr_nimbus_data.csv
05/02/2022  04:39 PM    <DIR>          promotion
04/26/2022  10:34 AM    <DIR>          sales
04/01/2022  04:34 PM           373,757 shopifyorderdata.csv
04/26/2022  04:36 PM               121 SourcewiseLeadCount.csv
05/02/2022  04:21 PM            45,282 SQLLITE _map ,reduce ,filter,zip.ipynb
05/02/2022  05:15 PM            36,475 SQLLITE.ipynb
              16 File(s)      8,363,913 bytes
              15 Dir(s)  406,987,546,624 bytes free

In [83]:
db.close()

In [84]:
db = sqlite3.connect('person.db')

In [86]:
c = db.cursor()

In [90]:
d = c.execute("select * from persontable limit 2 ")

In [91]:
for i in d:
    print(i)

('sudh', 'sudh@gmail.com', 35, 15000.0)
('prashant', 'prashant@gmail.com', 38, 20000.0)

In [92]:
db.close()

In [93]:
db = sqlite3.connect("job.db")

In [94]:
c = db.cursor()

In [95]:
c.execute("create table student(student_id int, student_name text, student_mailid text, marks int)")

In [110]:
c.execute("create table address(student_id int, pincode int, location text, nearby text, phone_no int)")

In [109]:
c.execute("drop table address")

In [102]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 9640-2F36

 Directory of C:\Users\nimbu\Documents\Python_script

05/02/2022  05:36 PM    <DIR>          .
04/28/2022  10:19 AM    <DIR>          ..
05/02/2022  04:21 PM    <DIR>          .ipynb_checkpoints
04/13/2022  12:31 PM    <DIR>          blue
04/28/2022  06:03 PM             5,963 car_evaluation.csv
04/28/2022  06:11 PM            53,631 cardata.csv
04/14/2022  12:35 PM    <DIR>          Courier invoices
04/21/2022  06:55 PM    <DIR>          courier_bill
04/22/2022  12:46 PM           170,781 Courierwise Shipment bill compilation.ipynb
04/20/2022  03:08 PM    <DIR>          development
04/20/2022  03:05 PM           612,069 development.zip
04/21/2022  07:44 PM         2,902,669 DTDC_finall_march_22.csv
04/22/2022  10:48 AM         2,898,050 DTDC_finalll_march_22.csv
04/25/2022  10:39 AM    <DIR>          ecomm
04/27/2022  01:58 PM    <DIR>          employee_practice
04/25/2022  02:26 PM    <DIR>          final
04/11/2022  06:08 PM    <DIR>          finance
04/27/2022  05:13 PM            11,903 glass (1).data
04/27/2022  04:32 PM            10,053 glass.csv
05/02/2022  04:20 PM                 0 inueron.db
05/02/2022  05:36 PM            12,288 job.db
05/02/2022  05:15 PM             8,192 marketing.db
04/21/2022  12:53 PM    <DIR>          newemployee
05/02/2022  03:16 PM    <DIR>          nimbus
05/02/2022  05:13 PM             8,192 person.db
04/04/2022  03:08 PM         1,226,775 pickerr_nimbus_data.csv
05/02/2022  04:39 PM    <DIR>          promotion
04/26/2022  10:34 AM    <DIR>          sales
04/01/2022  04:34 PM           373,757 shopifyorderdata.csv
04/26/2022  04:36 PM               121 SourcewiseLeadCount.csv
05/02/2022  04:21 PM            45,282 SQLLITE _map ,reduce ,filter,zip.ipynb
05/02/2022  05:35 PM            42,160 SQLLITE.ipynb
              17 File(s)      8,381,886 bytes
              15 Dir(s)  406,986,878,976 bytes free

In [105]:
c.execute("insert into student values(234,'sudhansu', 'sudhanshu@ineuron.ai', 234)")

In [106]:
c.execute("insert into student values(235,'sudhansu', 'sudhanshu@ineuron.ai', 235)")
c.execute("insert into student values(236,'sudhansu', 'sudhanshu@ineuron.ai', 234)")
c.execute("insert into student values(237,'sudhansu', 'sudhanshu@ineuron.ai', 234)")
c.execute("insert into student values(238,'sudhansu', 'sudhanshu@ineuron.ai', 234)")
c.execute("insert into student values(239,'sudhansu', 'sudhanshu@ineuron.ai', 234)")
c.execute("insert into student values(2310,'sudhansu', 'sudhanshu@ineuron.ai', 234)")
c.execute("insert into student values(2311,'sudhansu', 'sudhanshu@ineuron.ai', 234)")
c.execute("insert into student values(2312,'sudhansu', 'sudhanshu@ineuron.ai', 234)")

In [111]:
c.execute("insert into address values(235 , 56034 , 'whitefeild' , 'ineuron office' , 2563265977456 )")

In [112]:
c.execute("insert into address values(236 , 56034 , 'whitefeild' , 'ineuron office' , 2563265977456 )")
c.execute("insert into address values(237 , 56034 , 'whitefeild' , 'ineuron office' , 2563265977456 )")
c.execute("insert into address values(238 , 56034 , 'whitefeild' , 'ineuron office' , 2563265977456 )")
c.execute("insert into address values(239 , 56034 , 'whitefeild' , 'ineuron office' , 2563265977456 )")
c.execute("insert into address values(23510 , 56034 , 'whitefeild' , 'ineuron office' , 2563265977456 )")
c.execute("insert into address values(23511 , 56034 , 'whitefeild' , 'ineuron office' , 2563265977456 )")
c.execute("insert into address values(23512 , 56034 , 'whitefeild' , 'ineuron office' , 2563265977456 )")
c.execute("insert into address values(23513 , 56034 , 'whitefeild' , 'ineuron office' , 2563265977456 )")
c.execute("insert into address values(23514 , 56034 , 'whitefeild' , 'ineuron office' , 2563265977456 )")

In [113]:
c.execute("insert into address values(236 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(237 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(238 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(239 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(210 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23654 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(235345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23665 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23609 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23632 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23698 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23690 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")

In [114]:
c.execute("insert into student values(234,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(235,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(236,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(237,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(238,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(239,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2310,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2311,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2343,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(23345,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")

In [116]:
for i in c.execute("select * from address"):
    print(i)

(235, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(237, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(238, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(239, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(23510, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(23511, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(23512, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(23513, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(23514, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353)

In [118]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhansu', 'sudhanshu@ineuron.ai', 235)
(236, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(2312, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [123]:
for i in c.execute("select * from student s left join address a on s.student_id = a.student_id "):
    print(i)

(234, 'sudhansu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(235, 'sudhansu', 'sudhanshu@ineuron.ai', 235, 235, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 236, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 237, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(237, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 238, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(238, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 239, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(239, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(2310, 'sudhansu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2311, 'sudhansu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2312, 'sudhansu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 235, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 236, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 237, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 238, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 239, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)

In [125]:
for i in c.execute("select * from student s left join address a on s.student_id = a.student_id where s.student_id is not null"):
    print(i)

(234, 'sudhansu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(235, 'sudhansu', 'sudhanshu@ineuron.ai', 235, 235, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 236, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 237, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(237, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 238, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(238, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 239, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(239, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(2310, 'sudhansu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2311, 'sudhansu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2312, 'sudhansu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 235, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 236, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 237, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 238, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 239, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)

In [127]:
for i in c.execute("select * from student s inner join address a on s.student_id = a.student_id"):
    print(i)

(235, 'sudhansu', 'sudhanshu@ineuron.ai', 235, 235, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 236, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 237, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(237, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 238, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(238, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 239, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(239, 'sudhansu', 'sudhanshu@ineuron.ai', 234, 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 235, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 236, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 237, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 238, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 239, 56034, 'whitefeild', 'ineuron office', 2563265977456)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)

In [129]:
for i in c.execute("select * from address s left join student a on s.student_id = a.student_id"):
    print(i)

(235, 56034, 'whitefeild', 'ineuron office', 2563265977456, 235, 'sudhansu', 'sudhanshu@ineuron.ai', 235)
(235, 56034, 'whitefeild', 'ineuron office', 2563265977456, 235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 56034, 'whitefeild', 'ineuron office', 2563265977456, 236, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(236, 56034, 'whitefeild', 'ineuron office', 2563265977456, 236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 56034, 'whitefeild', 'ineuron office', 2563265977456, 237, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(237, 56034, 'whitefeild', 'ineuron office', 2563265977456, 237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 56034, 'whitefeild', 'ineuron office', 2563265977456, 238, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(238, 56034, 'whitefeild', 'ineuron office', 2563265977456, 238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 56034, 'whitefeild', 'ineuron office', 2563265977456, 239, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(239, 56034, 'whitefeild', 'ineuron office', 2563265977456, 239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23510, 56034, 'whitefeild', 'ineuron office', 2563265977456, None, None, None, None)
(23511, 56034, 'whitefeild', 'ineuron office', 2563265977456, None, None, None, None)
(23512, 56034, 'whitefeild', 'ineuron office', 2563265977456, None, None, None, None)
(23513, 56034, 'whitefeild', 'ineuron office', 2563265977456, None, None, None, None)
(23514, 56034, 'whitefeild', 'ineuron office', 2563265977456, None, None, None, None)
(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 236, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 237, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 238, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 239, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)

In [130]:
for i in c.execute("select * from  student"):
    print(i)

(234, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhansu', 'sudhanshu@ineuron.ai', 235)
(236, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(2312, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [134]:
for i in c.execute("delete from student where student_id >2000"):
    print(i)

In [135]:
for i in c.execute("select * from  student"):
    print(i)

(234, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhansu', 'sudhanshu@ineuron.ai', 235)
(236, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhansu', 'sudhanshu@ineuron.ai', 234)
(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [138]:
data = c.execute("select * from student")

In [139]:
data.fetchall()

[(234, 'sudhansu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhansu', 'sudhanshu@ineuron.ai', 235),
 (236, 'sudhansu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhansu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhansu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhansu', 'sudhanshu@ineuron.ai', 234),
 (234, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (236, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)]

In [141]:
data = c.execute("update student set student_id = 2000 where student_id = 236")

In [144]:
data = c.execute("select * from student")

In [145]:
data.fetchall()

[(234, 'sudhansu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhansu', 'sudhanshu@ineuron.ai', 235),
 (2000, 'sudhansu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhansu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhansu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhansu', 'sudhanshu@ineuron.ai', 234),
 (234, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (2000, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)]

In [146]:
l = [1,2,3,4,5,6,7,8,9]

In [148]:
def add_one(a):
    return a+1

In [149]:
add_one(5)

6

In [155]:
list(map(add_one,l))

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [156]:
def even(e):
    return e%2==0

In [158]:
even(15)

False

In [160]:
list(filter(even,l))

[2, 4, 6, 8]

In [161]:
from functools import reduce

In [163]:
db.close()

In [164]:
def add(r):
    return r+5

In [165]:
l = [1,2,3,4,5,6]

In [167]:
list(map(add,l))

[6, 7, 8, 9, 10, 11]

In [169]:
l1 = []

for i in l:
    l1.append(i+5)
    
print(l1)

[6, 7, 8, 9, 10, 11]

In [173]:
[i**0.5 for i in l]

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178]

In [180]:
l1 = ['234', '345', '547', '896', '258','258963']

In [175]:
def convert(d):
    return int(d)

In [177]:
list(map(convert,l1))

[234, 345, 547, 896, 258]

In [178]:
convert('258')

258

In [182]:
list(map(lambda x: int(x),l1))

[234, 345, 547, 896, 258, 258963]

In [186]:
l1 = list(map(lambda x: int(x)+5, l1))

In [187]:
l1

[239, 350, 552, 901, 263, 258968]

In [188]:
l =[4,5,6,7,78,8,78]

In [190]:
list(filter(lambda x: (x%2==0),l))

[4, 6, 78, 8, 78]

In [191]:
def test4(r):
    if r%2==0:
        return r

In [193]:
list(filter(test4,l))

[4, 6, 78, 8, 78]

In [194]:
[i for i in l if i%2==0]

[4, 6, 78, 8, 78]

In [196]:
type(filter(test4,l))

filter

In [198]:
list(filter(lambda x: (x%2==0), l))

[4, 6, 78, 8, 78]

In [200]:
list(filter(lambda x: x%3==0, l))

[6, 78, 78]

In [202]:
from functools import reduce

In [228]:
l2 = [3,4,5,6,7,8]

In [207]:
reduce(lambda a,b:a+b, l)

33

In [205]:
sum(l)

33

In [219]:
def test5(a,b):
    return a+b

In [217]:
reduce(test5,l)

TypeError: test5() missing 1 required positional argument: 'c'

In [218]:
test5(5,8,9)

22

In [224]:
l = [8]

In [225]:
reduce(test5,l)

8

In [231]:
reduce(lambda x,y:x/y,l2)

0.0004464285714285714

In [239]:
l = [1,2,3,4]
l1 = [3,4,5,7,8]
l2 = ['sudhanshu', 'kumatr', 'krish', 'sunny','ineuron', 'rohit']

In [240]:
list(zip(l,l1,l2))

[(1, 3, 'sudhanshu'), (2, 4, 'kumatr'), (3, 5, 'krish'), (4, 7, 'sunny')]